﻿@*@model CivilianJobs.Models.Contexts.TransitionNewsArticle*@
<div class="span12 pad-left pad-right admin">
    <h1>Transition News Manager - Add</h1>

<a href="/admin/TransitionNews/">Go Back</a><br />

@using (Html.BeginForm("add", "TransitionNews", FormMethod.Post))
{
    <table class="table table-striped table-bordered">
        <tr>
            <td>Title: </td>
            <td><input type="text" style="width: 100%;" name="title" id="title" /></td>
        </tr>
        <tr>
            <td>Teaser Text:</td>
            <td><input type="text" style="width: 100%;" name="teasertext" id="teasertext" /></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><textarea rows="20" style="width: 100%;"  name="content" id="content"></textarea></td>
        </tr>
    </table>
    <button class="green-button" type="submit"> Save</button>
}
</div> 
