﻿@model IEnumerable<CivilianJobs.Models.Jobs.Entities.TransitionNewsArticle>

<div class="span12 pad-left pad-right admin">
    <h1>Transition News Manager - Edit</h1>
    <a href="/admin/TransitionNews">Go Back</a>
 @foreach (var item in Model) {
    <table class="table table-striped table-bordered">
    @using (Html.BeginForm(Html.BeginForm("edit", "TransitionNews", FormMethod.Post)))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
            
                <tr>
                    <td>Title</td>
                    <td><input type="text" style="width: 100%;" name="title" id="title" value="@item.Title"/></td>
                </tr>

                <tr>
                    <td>Teaser Text</td>
                    <td><input type="text" style="width: 100%;" name="teasertext" value="@item.TeaserText"> </td>
                </tr>

                <tr>
                    <td>Content:</td>
                    <td><textarea rows="20" style="width: 100%;" name="content">@item.Content</textarea></td>
                </tr>
                <tr>
                    <td><input type="hidden" name="ID" value="@item.ID" /></td>
                    <td><input type="submit" value="Save" /></td>
                    @*<td><a href="/admin/TransitionNews/edit/@item.ID?route=save">Save</a></td>*@
                </tr>
        
           
    } </table>

}
 
</div> 
        