﻿@model IEnumerable<CivilianJobs.Models.Jobs.Entities.TransitionNewsArticle>


<div class="span12 pad-left pad-right admin">
    <h1>Transition News Manager</h1>

<a href="/admin/TransitionNews/add">Add New</a>
    
<table class="table table-striped table-bordered">
    <tr>
        <td>ID</td>
        <td>Title</td>
        <td>Teaser Text:</td>
        <td></td>
        <td></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Title</td>
            <td>@item.TeaserText</td>
            <td><a href="/admin/TransitionNews/edit/@item.ID">Edit</a></td>
            <td><a href="/admin/TransitionNews/delete/@item.ID">Delete</a></td>
        </tr>
    }
</table>
</div> 
        