﻿@model CivilianJobs.Models.Setting

@{
    ViewBag.Title = "Details";
}

<div class="span12 pad-left pad-right admin">

    <h2>Details</h2>

    <fieldset>
        <legend>Setting</legend>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.Value)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Value)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.BoolValue)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.BoolValue)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.FloatValue)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.FloatValue)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.IntValue)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.IntValue)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.StringValue)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.StringValue)
        </div>
    </fieldset>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id=Model.SettingID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

</div>
