﻿@model IEnumerable<CivilianJobs.Models.Jobs.Entities.JobFairs>


<div class="span12 pad-left pad-right admin">
    <h1>Job Fair Manager</h1>

    <a href="/admin/jobfairsmanager/add">Add New</a>
    
<table class="table table-striped table-bordered">
    <tr>
        <th>Location</th>
        <th>Date</th>
        <th>Time</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td><a href="/admin/JobFairsManager/jobseekers/@item.ID">@item.locationCity, @item.locationState</a></td>
            <td>@item.dayOfWeek @item.month, @item.day</td>
            <td>@item.startTime @item.startTimeAMPM - @item.endTime @item.endTimeAMPM</td>

            <td><a href="/admin/JobFairsManager/edit/@item.ID">Edit</a></td>
            <td><a href="/admin/JobFairsManager/delete/@item.ID">Delete</a></td>
        </tr>

    }
</table>
</div> 
        