﻿@model CivilianJobs.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
}

<div class="container-fluid main-content">
    <div class="row-fluid">
        <div class="span12 login-page">
            @if (ViewBag.Success ?? false)
            {
                <h1>Password Reset!</h1>
                <p>Your password has been reset. You will need to use your new password the next time you log in.</p>
            }else{
                using (Html.BeginForm()) {
        
                    <h1>Change Password</h1>
                    <p>@Html.ValidationSummary()</p>
                    <div class="form-field">
                        <label>Old Password</label>
                        @Html.PasswordFor(model=>model.OldPassword)
                    </div>
                    <div class="form-field">
                        <label>New Password</label>
                        @Html.PasswordFor(model=>model.NewPassword)
                    </div>
                    <div class="form-field">
                        <label>Confirm Password</label>
                        @Html.PasswordFor(model=>model.ConfirmPassword)
                    </div>
                    <div class="form-field" id="reset">
                        <input type="submit" value="Reset" class="btn btn-primary"/>
                    </div>
                }
            }
            </div>
    </div>
</div>
