﻿@model CivilianJobs.Models.Page
@using CivilianJobs.Helpers
@using CivilianJobs.Models;

@{
    if (Model.PrimaryNav != null)
    {
        ViewBag.PrimaryNav.Name = "Home";
    }
    ViewBag.Breadcrumbs = null;
}

@section styles{

    <link href="/Content/css/design.css" rel="stylesheet">
    <link href="/Content/css/devices.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
}
@*Commented out code is the landing page for logged out users*@
<div class="shadow">
</div>

@Html.Raw(Model.Content)



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        $(".navbar-toggle").on("click", function () {
            $(this).toggleClass("active");
        });
    });
</script>


