﻿@model CivilianJobs.Models.Page
@using CivilianJobs.Helpers
@using CivilianJobs.Models;

@{
    if (Model.PrimaryNav != null)
    {
        ViewBag.PrimaryNav.Name = "Home";
    }
    ViewBag.Breadcrumbs = null;
}

@section styles{

    <link href="/Content/css/design.css" rel="stylesheet">
    <link href="/Content/css/devices.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
}

@*Commented out code is the landing page for logged out users*@
<div class="shadow">
</div>
@Html.Raw(Model.Content)


<div id="loading" style="display: none; margin:0 auto;     position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2045;
    text-align: center; width: 100%; height: 100%;text-align: center;">
    <img src="/Content/img/preloaders.gif" style="
    margin: 0 AUTO;
    text-align: left;
">
</div>
</div><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        $(".navbar-toggle").on("click", function () {
            $(this).toggleClass("active");
        });
    });
</script>


<script src="~/Content/js/pay.js"></script>






