﻿@model Phobos.Models.Jobs.ViewModels.Cart

@{
    ViewBag.Title = "ViewCart";
}
<link href="/Content/css/design.css" rel="stylesheet">
<link href="/Content/css/devices.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
}
@*Commented out code is the landing page for logged out users*@

<div class="shadow">
</div>
<div class="main row">
    
    <div class="container">
        <h1>Cart Detail</h1>
        <hr/>
        <div class="row">
            <div class="col-md-6 bold">Description</div>
            <div class="col-md-2 bold">Quantity</div>
            <div class="col-md-2 bold">Unit Price</div>
            <div class="col-md-2 bold">SubTotal</div>
        </div>
        <hr/>
        <br/>
        @foreach (var item in Model.OrderDetails)
        {
           
            <div class="row border-bottom">
                <div class="col-md-6">@item.Description</div>
                <div class="col-md-2">@item.Quantity</div>
                <div class="col-md-2">$ @item.UnitPrice</div>
                <div class="col-md-2">$ @item.SubTotal</div>
            </div>
            
        }
        <hr/>


        <table width="100%">
            <tbody>
                <tr>
                    <td class=" text-center"><strong class="price">Total: $@Model.Total </strong>
                        <a href="/" class="btn btn-green"> Keep Shopping</a>
                        <a href="/Account/Pay" class="btn btn-orange ">Checkout </a></td>
                    <td>
                        Date: @Model.DateCreated.ToShortDateString()
                    </td>
                </tr>
            </tbody>
        </table>
       
    </div>
</div>
        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>