﻿@model CivilianJobs.Models.FormField

@{
    ViewBag.Title = "Create Field";
}

<div class="span12 pad-left pad-right admin">

    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="editor-label">
            @Html.LabelFor(model => model.TypeVal)
        </div>
        <div class="editor-field">
            @Html.DropDownList("TypeVal")
            @Html.ValidationMessageFor(model => model.TypeVal)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Label)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Label)
            @Html.ValidationMessageFor(model => model.Label)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ToolTip)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ToolTip)
            @Html.ValidationMessageFor(model => model.ToolTip)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Required)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Required)
            @Html.ValidationMessageFor(model => model.Required)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Order)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Order)
            @Html.ValidationMessageFor(model => model.Order)
        </div>

        @Html.HiddenFor(model => model.FormID)

        <p>
            <input type="submit" value="Create" class="btn btn-primary"/>
            @Html.ActionLink("Back to List", "Fields", new { id = Model.FormID }, new { @class = "btn" })
        </p>
    }

</div>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            InitContentBlockFieldEditor(); //location: admin.backend.js
        });
    </script>
}