﻿@model CivilianJobs.Models.Form

@{
    ViewBag.Title = "Delete " + Model.Title;
}

<div class="span12 pad-left pad-right admin">

    <h2>@ViewBag.Title</h2>

    <h3>Are you sure you want to delete this form?</h3>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Delete" class="btn btn-danger"/>
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
        </p>
    }

</div>