﻿@model CivilianJobs.Models.Form

@{
    ViewBag.Title = "Edit Fields For " + Model.Title;
}

<div class="span12 pad-left pad-right admin">

    <h2>@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("Create New", "CreateField", new { id = Model.FormID }, new { @class = "btn" })
    </p>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Order</th>
            <th>Name</th>
            <th></th>
        </tr>

    @foreach (var item in Model.Fields) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <div class="btn-group">
                    @Html.ActionLink("Edit", "EditField", new { id = item.FormFieldID }, new { @class = "btn" })
                    @switch(item.TypeEnum){
                        case CivilianJobs.Models.FormFieldType.CHECKBOX:
                        case CivilianJobs.Models.FormFieldType.RADIO:
                        case CivilianJobs.Models.FormFieldType.SELECT:
                            <span>@Html.ActionLink("Options", "Options", new { id = item.FormFieldID }, new { @class = "btn" })</span>
                            break;
                    }
                    @Html.ActionLink("Delete", "DeleteField", new { id = item.FormFieldID }, new { @class = "btn btn-danger" })
                </div>
            </td>
        </tr>
    }

    </table>

</div>