﻿@model CivilianJobs.Models.FormField

@{
    ViewBag.Title = "Options for " + Model.Name;
}

<div class="span12 pad-left pad-right admin">

    <h2>@ViewBag.Title</h2>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Text
                </th>
                <th>
                    Value
                </th>
                <th class="options"></th>
            </tr>
        </thead>
        <tbody id="formfieldoption-container"></tbody>
    </table>

</div>

@section scripts{

    <script type="text/x-handlebars-template" id="formfieldoptionedit">
        <tr data-id="{{FormFieldOptionID}}">
            <input type="hidden" name="FormFieldOptionID" value="{{FormFieldOptionID}}" />
            <input type="hidden" name="FormFieldID" value="@Model.FormFieldID" />
            <td><input type="text" name="Order" value="{{Order}}" /></td>
            <td><input type="text" name="Name" value="{{Name}}" /></td>
            <td><input type="text" name="Value" value="{{Value}}" /></td>
            <td>
                <a href="#" class="btn btn-save btn-primary">save</a>
                <a href="#" class="btn btn-revert">revert</a>
            </td>
        </tr>
    </script>

    <script type="text/x-handlebars-template" id="formfieldoptionlist">
        {{#each formfieldoptions}}
            <tr data-id="{{FormFieldOptionID}}">
                <td>{{Order}}</td>
                <td>{{Text}}</td>
                <td>{{Value}}</td>
                <td>
                    <a href="#" class="btn btn-edit">edit</a>
                    <a href="#" class="btn btn-delete btn-danger">delete</a>
                </td>
            </tr>
        {{/each}}
        <tr data-id="0">
            <td><input type="text" name="Order" value="0" /></td>
            <td><input type="text" name="Text" value="" /></td>
            <td><input type="text" name="Value" value="" /></td>
            <input type="hidden" name="FormFieldID" value="@Model.FormFieldID" />
            <td>
                <a href="#" class="btn btn-add btn-primary">add</a>
                <a href="#" class="btn btn-revert">cancel</a>
            </td>
        </tr>
    </script>

    <script type="text/javascript">
        $(function () {
            $('#formfieldoption-container')
                .on('click', '.btn-add', AddOption)
                .on('click', '.btn-edit', EditOption)
                .on('click', '.btn-delete', DeleteOption)
                .on('click', '.btn-save', SaveOption)
                .on('click', '.btn-revert', ResetOption);

            LoadHBTemplate('formfieldoptionedit');
            LoadHBTemplate('formfieldoptionlist');

            LoadOptions();
        });

        function OptionAjax(action, cb, data){
            $.ajax({
                url: '/admin/formfieldoption/' + action,
                type: 'POST',
                data: data,
                dataType: 'json',
                success: cb
            });
        }

        function OptionID(obj) {
            return $(obj).closest('[data-id]').attr('data-id');
        }

        function OptionRow(id) {
            return $('#formfieldoption-container tr[data-id="' + id + '"]');
        }

        function OptionData(id) {
            return OptionRow(id).find('input').serialize();
        }

        function LoadOptions() {
            OptionAjax('list', function(data){
                if (data.success) $('#formfieldoption-container').html(HBTemplates.formfieldoptionlist(data));
            }, {id: @Model.FormFieldID });
        }

        function EditOption(e) {
            e.stopPropagation(); e.preventDefault();
            OptionAjax('details', function (data) {
                if (data.success) OptionRow(data.formfieldoption.OptionID).replaceWith(HBTemplates.formfieldoptionedit(data.formfieldoption));
            }, { id: OptionID(this) });
        }

        function AddOption(e) {
            e.stopPropagation(); e.preventDefault();
            OptionAjax('create', function (data) {
                if (data.success) LoadOptions();
                else alert(data.message);
            }, OptionData(0));
        }

        function ResetOption(e) {
            e.stopPropagation(); e.preventDefault();
            LoadOptions();
        }

        function SaveOption(e) {
            e.stopPropagation(); e.preventDefault();
            OptionAjax('edit', function (data) {
                if (data.success) LoadOptions();
                else alert(data.message);
            }, OptionData(OptionID(this)));
        }

        function DeleteOption(e) {
            e.stopPropagation(); e.preventDefault();
            if (!confirm('Are you sure?')) return;
            OptionAjax('delete', function (data) {
                if (data.success) LoadOptions();
                else alert(data.message);
            }, { id: OptionID(this) });
        }
    </script>
}