﻿@model CivilianJobs.Models.GalleryItem

@{
    ViewBag.Title = "Create Item";
}

<div class="span12 pad-left pad-right admin">

    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm(Html.BeginForm("CreateItem", "GalleriesManager", FormMethod.Post, new { enctype = "multipart/form-data" })))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.GalleryID)

        
        <table class="table table-bordered">
           
            <tr>
                <th colspan="4" class="text-right">
                    <div class="btn-group">
                        <input type="submit" value="Save" class="btn btn-primary"/>
                        @Html.ActionLink("Cancel", "Items", "GalleriesManager", new { id = Model.GalleryID }, new { @class = "btn btn-primary" })
                    </div>
                </th>
            </tr>
        
            <tr>
                
                <td>
                    @Html.LabelFor(model => model.Title)
                    @Html.EditorFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title)
                </td>
                <td>
                    @Html.LabelFor(model => model.Order)
                    @Html.EditorFor(model => model.Order)
                    @Html.ValidationMessageFor(model => model.Order)
                </td>
                <td>
                    @Html.LabelFor(model => model.Active)
                    @Html.EditorFor(model => model.Active)
                    @Html.ValidationMessageFor(model => model.Active)
                </td> 
            </tr>
            <tr>
                <td colspan="3">
                    @Html.LabelFor(model => model.ImageUrl)
                    <input type="file" name="ItemImage" />
                    <br />
                    @Html.TextBoxFor(model => model.ImageUrl, new { @readonly = "readonly"})
                    @Html.ValidationMessageFor(model => model.ImageUrl)
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    @Html.LabelFor(model => model.Description)
                    @Html.TextAreaFor(model => model.Description, new { @class = "wysiwygsmall" })
                    @Html.ValidationMessageFor(model => model.Description)
                </td>
            </tr>
            
        </table>
    }

</div>
@section Scripts{
    <script type="text/javascript">
        $(function(){
            $("[name=ItemImage]").change(function (){
                $("#ImageUrl").val($(this).val());
             });
        });
    </script>
}
