﻿@model CivilianJobs.Models.GalleryItem

@{
    ViewBag.Title = "Delete " + Model.Title;
}

<div class="span12 pad-left pad-right admin">

    <h2>@ViewBag.Title</h2>

    <h3>Are you sure you want to delete this item?</h3>
    <p>
        <img src="@Model.ImageUrl" height="300" />
    </p>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Back to List", "Items", "GalleriesManager", new { id = Model.GalleryID }, new { @class = "btn" })
                            
        </p>
    }

</div>