﻿@model IEnumerable<CivilianJobs.Models.Gallery>

@{
    ViewBag.Title = "Galleries";
}

<div class="span12 pad-left pad-right admin">

    <h2>@ViewBag.Title</h2>

    <div class="btn-group">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    </div>
    <br /><br />
    <table class="table table-striped table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>        
            <th class="options"></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>        

            <td>
                <div class="btn-group">
                    @Html.ActionLink("Edit", "Edit", new { id = item.GalleryID }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Items", "Items", new { id = item.GalleryID }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", new { id=item.GalleryID }, new { @class = "btn btn-danger" })
                </div>
            </td>
        </tr>
    }

    </table>

</div>