﻿@model CivilianJobs.Models.Gallery

@{
    ViewBag.Title = "Edit Items For " + Model.Name;
}

<div class="span12 pad-left pad-right admin">

    <h2>@ViewBag.Title</h2>

    <p>
        <div class="btn-group">
        @Html.ActionLink("Create New Item", "CreateItem", new { id = Model.GalleryID }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Edit Gallery", "Edit", "GalleriesManager", new { id = Model.GalleryID }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Back to Galleries List", "Index", "GalleriesManager", null, new { @class = "btn btn-primary" })
        </div>
    </p>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Order</th>
            <th>Image</th>
            <th></th>
        </tr>

    @foreach (var item in Model.GalleryItems) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" height="100" />
            </td>
            <td>
                <div class="btn-group">
                    @Html.ActionLink("Edit", "EditItem", new { id = item.GalleryItemID }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "DeleteItem", new { id = item.GalleryItemID }, new { @class = "btn btn-danger" })
                </div>
            </td>
        </tr>
    }

    </table>

</div>