﻿@using CivilianJobs.Models
@model CivilianJobs.Models.Page

@section styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/StaticPage.css" />
}
@{
    ViewBag.AccountType = "employer";
}

@*<div class="container-fluid content width">
        <div class="row-fluid">
            <div class="span12" data-id="@Model.PageID" data-type="Page">
                <h1 class="page-title">@ViewBag.Title</h1>
            </div>
        </div>
    </div>
*@
<div class="static-banner">
    <h1 class="banner-title text-center">@ViewBag.Title</h1>
</div>


@{Html.RenderPartial("_BannerSearch");}

@{
    var ctx = new CivilianJobsContext();
}

@*Move Job Board code when we have time*@
<div class="container content">
    
   










    @*all caode is comented in job fair page*@





    @*@if (Request.RawUrl == "/page/jobfairs")
    {
        string CompanyNameList = Request.QueryString.ToString().Trim();
        var jobfairlist = ctx.JobFairs.ToList().OrderByDescending(jf => jf.createDate);
        <table id="job-board-table">
            <tr class="Black">
                <th>Location</th>
                <th>Date</th>
                <th>Time</th>
                <th>&nbsp;</th>
            </tr>
        @foreach (var jf in jobfairlist)
        { <tr>
            <td>@jf.locationCity, @jf.locationState</td>
            <td>@jf.dayOfWeek @jf.month, @jf.day</td>
            <td>@jf.startTime @jf.startTimeAMPM - @jf.endTime @jf.endTimeAMPM</td>
            <td><a href="/page/jobfairs?@jf.ID">View Job Fair</a></td>
          </tr>
        }
        </table>
    }
    else
    {
        <h3><a href="/page/jobfairs">Go Back To List</a></h3>
            <div id="company-information">
                <hr />
                @{
                    string JobFairID = Request.QueryString.ToString();
                    int FindJobFair = Convert.ToInt32(JobFairID);
                    var jobfairlist = ctx.JobFairs.Where(m => m.ID == FindJobFair).ToList();
                }
                @foreach (var row in jobfairlist)
                {
                    <h1 class="blue-box text-center">MILITARY JOB FAIR</h1>
                    <div id="job-fair-flyer">
                        <div class="text-center job-fair-page">
                            
                            <h2 class="text-center">@row.locationCity, @row.locationState</h2>
                
                            <h4 class="Dark-Blue pad-head">Sponsored by: @row.sponsoredBy</h4>
                
                            <h2 class="pad-head pad-tail">@row.dayOfWeek @row.month, @row.day<br /> @row.startTime @row.startTimeAMPM - @row.endTime @row.endTimeAMPM</h2>
                
                            <h2>@row.locationName<br /><span style="font-weight: normal;">@row.locationAddress, @row.locationCity, @row.locationState @row.locationZip</span></h2><br />

                            <h3>PRE-REGISTER NOW <a href="#">HERE</a></h3>
                        </div><br /><br />
                
                        <div class="row">
                            <div class="col-sm-6 Black opportunites">
                                <p>National and Regional Opportunites</p>
                                <ul class="two-col">
                                    <li>@row.opportunity1</li>
                                    <li>@row.opportunity2</li>
                                    <li>@row.opportunity3</li>
                                    <li>@row.opportunity4</li>
                                    <li>@row.opportunity5</li>
                                    <li>@row.opportunity6</li>
                                    <li>@row.opportunity7</li>
                                    <li>@row.opportunity8</li>
                                    <li>@row.opportunity9</li>
                                    <li>@row.opportunity10</li>
                                </ul>
                                <br />
                                <strong><p class="Red">Need more information?<br />
                                <span class="Red">Visit</span> <a href="/">www.CivilianJobs.com</a><br />
                                <span class="Red">Call 1-687-819-4153</span></p></strong><br />
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img src="/Content/img/military-spouse.png" alt="Civilian Jobs Military Spouse" class="img-responsive hidden-xs" />
                                    </div>
                                    <div class="col-sm-6">
                                        <img src="/Content/img/joining-forces.png" alt="Civilian Jobs Joining Forces" class="img-responsive hidden-xs" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 job-fair-applicants">
                                <img src="/Content/img/job-fair-1.png" alt="Job Fair Applicants Civilian Jobs" class="img-responsive hidden-xs" />
                            </div>

                        </div>
                    </div>
                }



            </div>
        
    }*@

</div>
