﻿@model CivilianJobs.Models.Page
@using CivilianJobs.Models.Jobs.Entities;
@using CivilianJobs.Models;

@section styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/StaticPage.css" />
}
@{
    ViewBag.AccountType = "employer";
}

@*<div class="container-fluid content width">
        <div class="row-fluid">
            <div class="span12" data-id="@Model.PageID" data-type="Page">
                <h1 class="page-title">@ViewBag.Title</h1>
            </div>
        </div>
    </div>
*@
<div class="static-banner">
    <h1 class="banner-title text-center">@ViewBag.Title</h1>
</div>


@{Html.RenderPartial("_BannerSearch");}

@{
    var ctx = new CivilianJobsContext();
    
    string CompanyName = Request.QueryString.ToString();
    var Microsites = ctx.Microsites.Where(m => m.CompanyName == CompanyName).ToList();
}

@*Move Job Board code when we have time*@
<div class="container content">
    <h1 class="Dark-Blue text-left pad-tail">@ViewBag.Title</h1>

    @if (Request.RawUrl == "/page/microsites")
    {
        string CompanyNameList = Request.QueryString.ToString().Trim();
        var MicrositesList = ctx.Microsites.ToList().OrderByDescending(c => c.CompanyName);
        foreach (var site in MicrositesList)
        { 
            <h2><a href="/page/company?@site.CompanyName">@site.CompanyName</a></h2>
        }
    }
    else
    {
        <h3><a href="/page/microsites">Go Back To List</a></h3>
        <div id="company-information">
            <hr />

            @foreach (var row in Microsites)
            {
                <h2>@row.CompanyName</h2>
            }

            <div class="row">
                <div class="col-sm-3">
                    <h5>Jobs Fairs Participation</h5>

                    <br />

                    @foreach (var row in Microsites)
                    {
                        <h5 class="url-border"><a href="@row.CompanyURL" target="_blank">@row.CompanyURL</a></h5>
                    }

                </div>
                <div class="col-sm-9">
                    <h5>MOST RECENT POSTS</h5>
                    <table id="job-board-table">
                        <tbody>
                            <tr class="Black">
                                <th>Location</th>
                                <th>Job Title</th>
                                <th>Company</th>
                                <th>Pay</th>
                            </tr>
                            @{
                    string CompanyNameList = Request.QueryString.ToString().Trim();
                    var CompanyJobPostings = ctx.JobPostings.Where(m => m.Company == CompanyNameList).ToList();
                    foreach (var job in CompanyJobPostings)
                    {
                        <tr>
                            <td>@CivilianJobsHelper.GetEnumDescription((CivilianJobs.Models.Jobs.Enums.JobLocation)job.JobLocation)</td>
                            <td>@Html.ActionLink(job.Title, "job", "jobseeker", new { id = job.ID }, new { @class = "p-c" })</td>
                            <td>@job.Company</td>
                            <td>$@job.Compensation</td>
                        </tr>
                    }
                            }
                                    
                        </tbody>
                    </table>

                    <br /><br /><br /><br />



                    @foreach (var row in Microsites)
                    {
                        <h5>@row.MissionStatement</h5>
                    }

                    @foreach (var row in Microsites)
                    {
                        <div>@row.Content</div>
                    }

                    <br />

                    @foreach (var row in Microsites)
                    {
                        <h5>@row.AdditionSectionTitle</h5>
                    }
                    @foreach (var row in Microsites)
                    {
                        <div>@row.AdditionSectionText</div>
                    }

                    <br />

                    @foreach (var row in Microsites)
                    {
                        if (row.FacebookURL != "" || row.TwitterURL != "")
                        {
                            <h5>Follow Us!</h5>
                            <ul id="footer-social-media">
                                @if (row.FacebookURL != "")
                                {
                                    <li><a target="_blank" href="@row.FacebookURL"><img src="/Content/img/civilianjobs-facebook-big.png" /></a></li>
                                }
                                @if (row.TwitterURL != "")
                                {
                                    <li><a target="_blank" href="@row.TwitterURL"><img src="/Content/img/civilianjobs-twitter-big.png" /></a></li>
                                }
                            </ul>

                        }
                        <div></div>
                    }
                </div>
            </div>

        </div>
    }

</div>

