﻿@model CivilianJobs.Models.Page

@{
    ViewBag.Title = "Edit " + Model.Title;
}

<div class="span12 pad-left pad-right admin">

    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.PageID)
            @Html.HiddenFor(model => model.ParentID)
        	@Html.HiddenFor(model => model.PrimaryNavID)
        <table class="table table-bordered">
           
            <tr>
                <th colspan="4">
                    <div class="btn-group">
                    <input type="submit" value="Save" class="btn btn-primary"/>
                        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-primary" })
                    </div>
                </th>
            </tr>
        
            <tr>
                <td>
                    @Html.LabelFor(model => model.Title)
                    @Html.EditorFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title)
                </td>
                <td>
                    @Html.LabelFor(model => model.Heading)
                    @Html.EditorFor(model => model.Heading)
                    @Html.ValidationMessageFor(model => model.Heading)
                </td>
                <td>
                    @Html.LabelFor(model => model.SEOURL)
                    @Html.EditorFor(model => model.SEOURL)
                    @Html.ValidationMessageFor(model => model.SEOURL)
                </td>
                <td>
                    @Html.LabelFor(model => model.ParentID, "Parent")
                    @Html.DropDownList("ParentID", "--None--")
                    @Html.ValidationMessageFor(model => model.ParentID)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.TemplateID, "Template")
                    @Html.DropDownList("TemplateID")
                    @Html.ValidationMessageFor(model => model.TemplateID)
                </td>
                <td>
                    @Html.LabelFor(model => model.SecondaryNavID)
                    @Html.DropDownList("SecondaryNavID", "--None--")
                    @Html.ValidationMessageFor(model => model.SecondaryNavID)
                </td>
                <td>
                    @Html.LabelFor(model => model.MetaDescription)
                    @Html.EditorFor(model => model.MetaDescription)
                    @Html.ValidationMessageFor(model => model.MetaDescription)
                </td>
                <td>
                    @Html.LabelFor(model => model.MetaKeywords)
                    @Html.EditorFor(model => model.MetaKeywords)
                    @Html.ValidationMessageFor(model => model.MetaKeywords)
                </td>
            </tr>

            <tr>
                <td colspan="4">
                    @Html.LabelFor(model => model.Content)
                    @Html.TextAreaFor(model => model.Content, new { @class = "wysiwyg" })
                    @Html.ValidationMessageFor(model => model.Content)
                </td>
            </tr>

        </table>
    }

</div>