﻿@model CivilianJobs.Models.Jobs.Entities.JobPostings

@{
    ViewBag.Title = "Job Applications";
}

@section scripts{
    @Scripts.Render("~/bundles/employers-scripts")
}

<div class="container content">

    <h1>Job Applications for @Model.Title</h1><br /><br />

    <div id="search-resumes">

        @using (Html.BeginForm("job-applications", "Employer", new { id = Model.ID }, FormMethod.Get))
        { 
            @Html.RadioButton("showHiddenOnly", false, !(bool)ViewBag.ShowHiddenOnly) @:Show Active Apps
            @Html.RadioButton("showHiddenOnly", true, (bool)ViewBag.ShowHiddenOnly) @:Show Inactive Apps
        }

        @foreach (var application in Model.Applications)
        {
            if (application.Resume == null)
            {
                application.Resume = new CivilianJobs.Models.Jobs.Entities.Resume();
            }
            
            <div class="row">
                <div class="col-sm-4">
                    <p class="bold Blue">
                        
                        <a href="@Url.Action("view-applicant", new { username = application.UserProfile.UserName })">
                            @application.UserProfile.FirstName @application.UserProfile.LastName
                            (view profile)
                        </a>
                        
                        <br />
                        <a href="@Url.Action("toggle-applicant", new { jobPostingId = @application.JobPosting.ID, jobApplicationId = @application.ID, showHiddenOnly = (bool)ViewBag.ShowHiddenOnly })">
                            @if(application.IsHidden)
                            {
                                @:(show name)
                            }
                            else
                            {
                                @:(hide name)
                            }
                        </a>
                    </p>
                    <p class="bold Black">Date Available:</p>
                    <p class="bold Black">Most Recent Job Title: @application.Resume.MostRecentJobTitle</p>
                    <p class="bold Black">Military Relocation Available?:</p>
                    <p class="bold Black">Pay Grade:</p>
                </div>
                <div class="col-sm-4">
                    <p class="bold Black">Desired Pay: @application.Resume.DesiredPay</p><br />
                    <p class="bold Black">Military Specialites:</p>
                    <p class="p-d">@application.Resume.MilitarySpecialty1</p>
                    <p class="p-d">@application.Resume.MilitarySpecialty2</p>
                    <p class="p-d">@application.Resume.MilitarySpecialty3</p>
                </div>
                <div class="col-sm-4">
                    <p class="bold Black">Location:</p><br />
                    <p class="bold Black">Desired Location:</p>
                    <p class="p-d">Atlanta, GA</p>
                    <p class="p-d">Nashville, TN</p>
                    <p class="p-d">Happyland, USA</p>
                </div>
            </div>
        }

    </div>

</div>
