﻿@model IEnumerable<CivilianJobs.Models.Jobs.Entities.JobPostings>
@using CivilianJobs.Models.Jobs.Enums;
  


@{
    ViewBag.AccountType = "employer";
}

@section styles{
    @Styles.Render("~/bundles/employers-styles")
}

@section scripts{
    @Scripts.Render("~/bundles/employers-scripts")
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.8/css/jquery.dataTables.min.css" />
                      <script src="//code.jquery.com/jquery-1.10.2.js"></script>

<style>
    .Darkest-Blue-bg{
        background: white !important;
    } 
.box{
        display: none;
}
.active-menu a {
    display: table-cell;
    height: 40px;
    width: 1%;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    color: gray;
    border-color:#fff
}

.active-menu a.selected{
    background-color: aliceblue !important;
    color: black !important;
    text-decoration: underline;
}

#job-list tr{
    border-bottom:1px solid #e5e5e5;
}
.setStatus Darkest-Blue {
  background-color:#fff !important
}
.setStatus.dropdown:hover .dropdown-menu {
    display:none !important;
}
.setStatus.dropdown.open:hover .dropdown-menu {
    display:block !important ;
}
.setStatus.dropdown.open .dropdown-menu{
    bottom : -295% !important;
    background-color:#fff;
        min-width: 100px;
}
.setStatus.dropdown.open .dropdown-menu li>a:hover{
    background-color:#fff !important;
}

.setStatus.dropdown.open .dropdown-menu li>a {
    border-bottom-style: none;
    padding: 6px 20px !important;
    color:#00a1ff;
    text-decoration:underline
}
</style>
                      <style>
                          .navigation-links {
                              margin-top: 90px;
                              box-shadow: 1px 3px 16px 2px rgba(189,194,186,0.92);
                              padding-top: 20px;
                              background-color: #00a9ff;
                              border-radius: 4px;
                              color: white;
                          }

                              .navigation-links > h4 {
                                  color: white;
                              }

                              .navigation-links > ul > li:hover {
                                  background-color: rgba(0, 114, 177, 1);
                              }

                          .active-field {
                              background-color: rgba(0, 114, 177, 1);
                          }

                          .navigation-links > ul {
                              list-style-type: none;
                              padding: 0 5px;
                              font-size: 12px;
                              font-weight: bold;
                          }

                              .navigation-links > ul > li {
                                  height: 32px;
                                  padding: 5px 0;
                                  border-bottom: 1px solid rgba(0, 114, 177, 1);
                              }

                          .navigation-links a {
                              color: white;
                              width: 100%;
                              padding: 0 5px;
                          }

                          .margin-top-35 {
                              margin-left: 5%;
                              margin-right: 5%;
                              width: 97%;
                              padding-right: 5%;
                          }
                      </style>
<div class="static-banner">
    <h1 class="banner-title text-center">@ViewBag.Title</h1>
</div>

<div id="emp-options">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-5">
                        <div id="emp-job-tab" class="jobs-tab-active">Jobs</div>
                    </div>
                    <div class="col-sm-5">
                        <div id="emp-cand-tab" class="candidates-tab-inactive">Candidates</div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="col-sm-10" style="padding: 0px 5px !important;">
                            <input type="text" onkeyup="startSearch()" id="searchBox" class="form-control" placeholder="Find jobs/candidates" />
                        </div>
                        <div class="col-sm-1" style="padding: 0px !important;">
                            <img style="height:32px; cursor:pointer" onclick="searchJobsConds()" src="~/Content/img/civilianjobs-all-jobs-search.png" />
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <button class="orange-button" id="btn-post-job"> Post a Job</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="emp-all-jobs" class="container">
    <div class=" col-md-3">
        <div class="col-md-12 navigation-links">
            <h4>Employers</h4>
            <ul class="navigation-ul">
                <li>
                    <a href="@Url.Action("", "")">Employer Home</a>
                </li>
                <li>
                    <a href="@Url.Action("editprofile", "account")">My Contact Info</a>
                </li>
                <li>
                    <a href="@Url.Action("packages", "shoppingcart")">Order Services</a>
                </li>
                <li>
                    <a href="@Url.Action("previous-orders", "shoppingcart")">My Orders</a>
                </li>
                <li>
                    <a href="@Url.Action("your-jobs", "employer")">My Job Postings</a>
                </li>
                <li>
                    <a href="@Url.Action("search-resumes", "employer")">Search Resumes</a>
                </li>
                <li>
                    <a href="@Url.Action("all-events", "hireveterans")">Job Fairs</a>
                </li>
                <li>
                    <a href="@Url.Action("press-releases", "hireveterans")">Military Transition News</a>
                </li>
                <li>
                    <a href="@Url.Action("my-account", "employer")">Target Hire</a>
                </li>
                <li>
                    <a href="@Url.Action("my-account", "employer")">OFCCP Report</a>
                </li>
            </ul>
        </div>
        <div class="col-md-12 navigation-links" style="margin-top:25px">
            <ul class="navigation-ul">
                <li>
                    <a href="@Url.Action("packages", "shoppingcart")">Order Services</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="col-sm-12" style="margin-top:30px !important">
            <p class="p-c">You can also  <a href="../Employer/import-excel" class="Blue">Import Jobs from Excel</a>  or get the Excel template <a href="../../Templates/JobPostImportTemplate.xls" class="Blue">here</a></p>
        </div>
        <div class="col-sm-12" style="padding:-15px !important">
            <div class="col-sm-2" style="padding:-15px !important">
                <div class="dropup col-sm-12">
                    <div class="dropdown col-sm-12 setStatus" style="padding: 0px;">
                        <button class="btn btn-default dropdown-toggle" style="padding:-15px !important" type="button" id="menu1" data-toggle="dropdown">
                            <b>Set  Status</b>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            <li role="presentation"><a role="menuitem" href="javascript:void(0)" onclick="selectStatus(0)">Open</a></li>
                            <li role="presentation"><a role="menuitem" href="javascript:void(0)" onclick="selectStatus(1)">Pause</a></li>
                            <li role="presentation"><a role="menuitem" href="javascript:void(0)" onclick="selectStatus(2)">Close</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                
            </div>
            <div class="col-sm-6" id="selectionInfo">
                @* here will be js generated label with deselection <a> *@
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div class="col-sm-12" style="margin:30px 0px !important; padding:0!important" >
            <div class="col-sm-12">
                <table id="job-list" class="col-sm-12">
                    <tbody>
                        <tr class="Black" style="background:rgba(128, 128, 128, 0.17); height: 50px !important;">
                            <th><input style="width: 20px; height: 20px; margin-right: 15px;" onchange="changedChecked('all')" type="checkbox" class="form-control selectAll Blue" /></th>
                            <th style="width: 180px;">Job Title</th>
                            <th>Location</th>
                            <th>Created</th>
                            <th style="width: 30px;">Views</th>
                            <th style="width: 30px;">Clicks</th>
                            <th style="width: 30px;">App.s</th>
                            <th>Company</th>
                            <th>Exp</th>
                        </tr>
                        @foreach (var job in Model)
                        {
                            JobLocation joblocale = (JobLocation)job.JobLocation;
                            string location = joblocale.ToString();
                            <tr style="height: 65px;">
                                <td>
                                    <input style="width: 20px;height: 20px;" type="checkbox" onchange="changedChecked('@job.ID')" class="form-control selectClassifier Blue" data-jobID="@job.ID" />
                                </td>
                                <td>
                                    <div class="col-sm-12 clear-padding p-c center">
                                        <b class="Blue"><a href="../employer/view-job?id=@job.ID">@job.Title</a></b>
                                    </div>
                                    <div class="col-sm-12 clear-padding p-c">
                                        <a class="Black" style="text-decoration:underline" href="@Url.Action("edit-job", new { id = job.ID })">edit</a> <span class="Red">@job.ExpDays days until exp</span>
                                    </div>
                                    <div class="col-sm-12 clear-padding p-c">
                                       <span>Status - <b>@job.StatusName</b></span>
                                    </div>
                                </td>
                                <td><p class="p-c center">@location.Substring(2), @location.Substring(0, 2)</p></td>
                                <td><p class="p-c center">@job.CreateDate.ToShortDateString()</p></td>
                                <td><p class="p-c center"><center>@job.ViewCount</center></p></td>
                                <td><p class="p-c center"><center>@job.ClickCount</center></p></td>
                                <td><p class="p-c center"><a href="@Url.Action("job-applications", new { id = job.ID })">@job.Applications.Count()</a></p></td>
                                <td><p class="p-c center">@job.Company</p></td>
                                <td><p class="p-c center">@job.ExpirationDate.ToShortDateString()</p></td>
                                <td></td>
                                <td style="display: none"><p class="p-c">@job.Active</p></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

    <script>
        function changedChecked(e) {
            if(e=='all')
            {
                $('.selectClassifier').prop("checked", document.getElementsByClassName('selectAll')[0].checked);
            }
            else
            {
                $('.selectAll').prop("checked", $('.selectClassifier').length ==
                    $('.selectClassifier:checked').length);
            }
            var tmep = $('.selectClassifier:checked').length;
            var text = "<b>" + tmep + " job selected<b> - <a class='Blue' onclick='deselectAll()' href='javascript:void(0)'>deselect</a>";
            $('#selectionInfo').html(tmep == 0 ? "" : text);
        }
        function deselectAll() {
            $('.selectAll').prop("checked", false);
            changedChecked('all');
        }
        function selectStatus(e) {
            var ids = "";
            $.each($('.selectClassifier:checked'), function (item, index) {
                ids = ids + $(index).data("jobid") + 'x';
            });
            $.get('/employer/changeJobStatus?statusId=' + e + '&jobIds=' + ids.substring(0, ids.length - 1)).success(function (e) {
                location.reload();
            });
        }

        function startSearch(e) {
            var code = e.which;
            if (code == 13 || code == 32 || code == 188 || code == 186)
                searchJobsConds();
        };
        function searchJobsConds() {

        }
    </script>

<div id="emp-all-candidates" class="container">
    <div class=" col-md-3">
        <div class="col-md-12 navigation-links">
            <h4>Employers</h4>
            <ul class="navigation-ul">
                <li>
                    <a href="@Url.Action("", "")">Employer Home</a>
                </li>
                <li>
                    <a href="@Url.Action("editprofile", "account")">My Contact Info</a>
                </li>
                <li>
                    <a href="@Url.Action("packages", "shoppingcart")">Order Services</a>
                </li>
                <li>
                    <a href="@Url.Action("previous-orders", "shoppingcart")">My Orders</a>
                </li>
                <li>
                    <a href="@Url.Action("your-jobs", "employer")">My Job Postings</a>
                </li>
                <li>
                    <a href="@Url.Action("search-resumes", "employer")">Search Resumes</a>
                </li>
                <li>
                    <a href="@Url.Action("all-events", "hireveterans")">Job Fairs</a>
                </li>
                <li>
                    <a href="@Url.Action("press-releases", "hireveterans")">Military Transition News</a>
                </li>
                <li>
                    <a href="@Url.Action("my-account", "employer")">Target Hire</a>
                </li>
                <li>
                    <a href="@Url.Action("my-account", "employer")">OFCCP Report</a>
                </li>
            </ul>
        </div>
        <div class="col-md-12 navigation-links" style="margin-top:25px">
            <ul class="navigation-ul">
                <li>
                    <a href="@Url.Action("packages", "shoppingcart")">Order Services</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="col-sm-12" style="padding:-15px !important; margin-top:30px !important">
            <div class="col-sm-3" style="padding:-15px !important">
                <div class="dropup col-sm-12">
                    <div class="dropdown col-sm-12 setStatus" style="padding: 0px;">
                        <button class="btn btn-default dropdown-toggle" style="padding:6px 30px !important" type="button" id="menu1" data-toggle="dropdown">
                            <b>All Jobs</b>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" style="bottom:auto !important">
                            <li class="dropdown-header"><b>Open</b></li>
                            @foreach (var item in Model.Where(x=>x.Status==0))
                            {
                                <li role="presentation"><a role="menuitem" href="javascript:void(0)" onclick="selectJob(@item.ID)">@item.Title</a></li>
                            }
                            
                            <li class="dropdown-header"><b>Paused</b></li>
                            @foreach (var item in Model.Where(x => x.Status == 1))
                            {
                                <li role="presentation"><a role="menuitem" href="javascript:void(0)" onclick="selectJob(@item.ID)">@item.Title</a></li>
                            }
                            <li class="dropdown-header"><b>Closed</b></li>
                            @foreach (var item in Model.Where(x => x.Status == 2))
                            {
                                <li role="presentation"><a role="menuitem" href="javascript:void(0)" onclick="selectJob(@item.ID)">@item.Title</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="dropdown col-sm-12 setStatus" style="padding: 0px;">
                    <button class="btn btn-default dropdown-toggle" style="padding:6px 30px !important" type="button" id="menu1" data-toggle="dropdown">
                        <b>All Statuses</b>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" style="bottom:auto !important">
                        <li role="presentation"><a role="menuitem" href="javascript:void(0)" onclick="cStatus(0)">New</a></li>
                        <li role="presentation"><a role="menuitem" href="javascript:void(0)" onclick="cStatus(1)">Screened</a></li>
                        <li role="presentation"><a role="menuitem" href="javascript:void(0)" onclick="cStatus(2)">Interviewed</a></li>
                        <li role="presentation"><a role="menuitem" href="javascript:void(0)" onclick="cStatus(3)">Offer made</a></li>
                        <li role="presentation"><a role="menuitem" href="javascript:void(0)" onclick="cStatus(4)">Rejected</a></li>
                        <li role="presentation"><a role="menuitem" href="javascript:void(0)" onclick="cStatus(5)">Hired</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="col-sm-3">
                    <input type="checkbox" class="Black form-control" id="makeStared" style="width: 20px;height: 20px;" onchange="getMakeStared()"/>
                </div>
                <div class="col-sm-9" style="padding: 4px 6px;">
                    <label for="makeStared" class="Black">Starred</label>
                </div>
            </div>
            <div class="col-sm-4 text-right" style="padding-top: 4px">
                <a class="Blue" href="../employer/search-resumes" style="font-size:16px; text-decoration:underline">Add candidates</a>
            </div>
        </div>
        <div class="col-sm-12" style="margin:30px 0px !important; padding:0!important">
            <div class="col-sm-12">
                <table id="conds-list" class="col-sm-12">
                    <thead>
                        <tr class="Black" style="background:rgba(128, 128, 128, 0.17); height: 50px !important;">
                            <th><input id="checkAll" data-state="unchecked" style="width: 20px;height: 20px;" onchange="changedCheckedCandidates('all')" type="checkbox" class="form-control selectAllCandidates Blue" /></th>
                            <th><span class="allStars" style="font-size: 22px !important;"><i style="font-size: 22px !important;  color: rgba(139, 139, 139, 0.39);" onclick="reloadSts()" id="starik" data-state="unstarred" class="glyphicon glyphicon-star"></i></span></th>
                            <th style="width: 150px;">Name</th>
                            <th>Status</th>
                            <th>Location</th>
                            <th>Variable</th>
                            <th>Applied to</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    <script>
        jobid= 0;
        statusId = -1;
        starred = false;
        $(document).ready(function () {
            getter();
        });

        function reloadSts() {
            $('#starik').data("state", $('#starik').data("state") == "starred" ? "unstarred" : "starred");
            if ($('#starik').data("state") != "starred") {
                $('#starik').attr("style", "color: rgba(139, 139, 139, 0.39)");
            } else {
                $('#starik').attr("style", "color: rgba(238, 217, 6, 0.92)");
            }
            changeStars('all');
            //getter();
        }
        function getMakeStared() {
            starred = $('#checkAll').data("state") != "checked";
            $('#checkAll').data("state", $('#checkAll').data("state") == "checked" ? "unchecked" : "checked");
            getter();
        }
        function cStatus(e) {
            statusId = e;
            getter();
        }

        function selectJob(e) {
            jobid = e;
            getter();
        }

        function getter()
        {
            $.get('/employer/get-applicants?jobId=' + jobid + '&starred=' + starred + '&statusId=' + statusId).success(function (data) {
                RenderBody(data);
            });
        }

        function RenderBody(data) {
            $('#conds-list  tbody').html('');
            $.each(data, function (index, item) {
                var colas = item.Starred == true ? 'color: rgba(238, 217, 6, 0.92);' : 'color: rgba(139, 139, 139, 0.39);';
                var smxs = item.status == 5 ? 'hired' : item.status == 4 ? 'Rejected' :
                item.status == 3 ? 'Offer made' : item.status == 2 ? 'Interviewed' : item.status == 1 ? 'Screened' : 'New';
                var data = item.DateString;
                var today = data;
                var state = item.Starred == true ? "starred" : "unstarred";
                $('#conds-list  tbody').append(
                '<tr style="height: 65px;">' +
                    '<td>' +
                        '<input style="width: 20px;height: 20px;" type="checkbox" onchange="changedCheckedCandidates(' + item.ID + ')" class="form-control selectClassifierCandidates Blue" data-jobid="' + item.ID + '" />' +
                    '</td>' +
                    '<td>' +
                '<span class="allStars"><i data-state="' + state + '" id="star' + item.ID + '" data-id="' + item.ID + '" onclick="changeStars(' + item.ID + ')" style="font-size: 20px;' + colas + '" class="glyphicon glyphicon-star tunnelStars"></i></span>' +
                    '</td>' +
                    '<td>' +
                        '<div class="col-sm-12 clear-padding p-c center">' +
                            '<b class="Blue">' + item.UserProfile.FirstName + '</b>' +
                        '</div>' +
                    '</td>' +
                    '<td><p class="p-c center">' + smxs + '</p></td>' +
                    '<td><p class="p-c center">' + item.UserProfile.Address + '</p></td>' +
                    '<td><p class="p-c center">20</p></td>' +
                    '<td><p class="p-c center">' + item.JobPosting.Title + '</p></td>' +
                    '<td><p class="p-c">' + today + '</p></td>' +
                '</tr>'
                );
            });
            if ($('.tunnelStars[data-state="starred"]').length == $('.tunnelStars').length) {
                $('#starik').data("state", "starred");
                $('#starik').attr("style", "font-size: 22px;color: rgba(238, 217, 6, 0.92)");
            }
            else {
                $('#starik').data("state", "unstarred");
                $('#starik').attr("style", "font-size: 22px;color: rgba(139, 139, 139, 0.39)");
            }
        }


        function changedCheckedCandidates(e) {
            if (e == 'all') {
                $('.selectClassifierCandidates').prop("checked", document.getElementsByClassName('selectAllCandidates')[0].checked);
            }
            else {
                $('.selectAllCandidates').prop("checked", $('.selectClassifierCandidates').length ==
                    $('.selectClassifierCandidates:checked').length);
            }
            var tmep = $('.selectClassifierCandidates:checked').length;
            var text = "<b>" + tmep + " job selected<b> - <a class='Blue' onclick='deselectAllCandidates()' href='javascript:void(0)'>deselect</a>";
            $('#selectionInfoCandidates').html(tmep == 0 ? "" : text);
        }
        function deselectAll() {
            $('.selectAllCandidates').prop("checked", false);
            changedChecked('all');
        }


        function changeStars(item) {
            if (item == 'all')
            {
                var st = $('#starik').data("state") == "starred";
                var colasm = st ? 'font-size: 20px;color: rgba(238, 217, 6, 0.92);' : 'font-size: 20px;color: rgba(139, 139, 139, 0.39);';
                var str = "";
                var mas = $('.tunnelStars');
                $.each(mas, function (index, item) {
                    str = str + $(item).data('id');
                    str = str + 'x';
                    $(item).data('state', $('#starik').data("state"));
                    $(item).attr("style", colasm);
                });
                str = str.substring(0, str.length - 1);
                $.post('/employer/updateApplicant', { applicantIds: str, starred: st, status: -1 }).success(function (e) {
                });
            }
            else{
                var id = "#star" + item;
                var std = $(id).data("state") != "starred";
                var colas = std ? 'font-size: 20px;color: rgba(238, 217, 6, 0.92);' : 'font-size: 20px;color: rgba(139, 139, 139, 0.39);';
                $(id).attr("style", colas);
                var resultStar = std ? "starred" : "unstarred";
                $(id).attr("data-state", resultStar);
                if ($('.tunnelStars[data-state="starred"]').length == $('.tunnelStars').length) {
                    $('#starik').data("state","starred");
                    $('#starik').attr("style", "font-size: 22px;color: rgba(238, 217, 6, 0.92)");
                }
                else {
                    $('#starik').data("state", "unstarred");
                    $('#starik').attr("style", "font-size: 22px;color: rgba(139, 139, 139, 0.39)");
                }
                $.post('/employer/updateApplicant', { applicantIds: item, starred: std, status: -1 }).success(function (e) {
                });
            }
        }

    </script>