﻿/*----- Footer -----*/

#bottom {
    /*height: 250px;*/ /* Height of footer */
    /*width: 100%;*/
}

footer {
    background:#0e1826;
    color: #fff;
    padding: 40px 0 20px;
}

    footer p  {
        color:#98a3b4;
        text-decoration:none;
        line-height:18px;
        padding:0;
    }

    footer a {
        text-decoration: none;
        color: #98a3b4;
    }

    footer h3 {
        font-size:18px;
        text-transform:uppercase;
        line-height:23px;
    }

.uppercase {
    text-transform: uppercase;
}

    .disclaimer {
      font-size: 16px;
      padding-top: 20px;
    }

    .call-us.pad-head {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    }

    .col-md-3.middle {
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  padding: 0 34px;
}

.footer-phone {
    font-size: 30px !important;
}

/*----- Copyright -----*/

.copyright {
    background: #0e1826;
    color:rgba(255,255,255,0.3);
    padding: 10px 0 10px;
}

footer div[class*="sprite"] {
  display: table;
  margin: 0 auto;
}