﻿/*------------ Header -------------*/

#login-logout {
  display: inline-block;
  float: right;
  margin-top: 20px;
}


/*----- Navigation -----*/

.navbar {
    min-height: initial;
    margin-bottom: 0;
    border-bottom:none;
}

.navbar-default {
    background: none;
    border-top:1px solid rgba(0,0,0,0.2);
    border-color:none;
}

.dropdown:hover .dropdown-menu {
    display: block !important;
}

.navbar .brand {
    color: #fff;
    text-shadow: none;
}

.navbar-nav {
    float: none;
}

    .navbar-nav a {
        transition: all .2s ease;
    }

.navbar-nav > li {
    float: none;
}

.navbar-nav > li > a {
    color:rgba(0, 114, 177, 1) !important;
    text-shadow: none;
    text-align:center;
    font-family:"Montserrat",Arial,sans-serif;
    text-rendering: optimizeLegibility;
    text-transform:uppercase;
    font-weight:bold;
}

.dropdown-menu {
    background:rgba(0, 36, 71, 1);
    padding:0;
}

    .dropdown-menu > li > a {
        text-align: left;
        padding:10px 28px;
        font-family:"prox-light",Arial,sans-serif;
        text-transform:capitalize;
        color:#fff;
        border-bottom-style:solid;
        border-bottom-color:rgba(128,128,128,1);
        border-bottom-width:1px;
    }

    .dropdown-menu > li:last-child a {
        border-bottom: none;
    }

    .dropdown-menu > li > a:hover {
        background:rgba(0,161,255,0.2) !important;
        color:#fff;
    }


.navbar-nav > li > a:hover {
    background-color: rgba(0, 36, 71, 1) !important;
    color:#fff !important;
}

/*----- Breadcrumbs -----*/

.breadcrumbs {
    position: relative;
    margin-top: -20px; /* put it up by the header */
    border-bottom: 1px solid white;
    padding: 5px 0;
    margin-bottom: 20px;
    font-size: 16px;
}

.breadcrumbs ul {
    list-style: inside none;
    margin: 0;
}

.breadcrumbs ul li {
    float: left;
    padding: 0 15px 0 0;
    line-height: 30px;
}

.breadcrumbs ul li a {
    color: #fff;
    text-decoration: none;
}

/* login logout */

#LoginModal .modal-header {
  border-bottom:none;
  padding:6px;
}

#LoginModal .modal-footer {
  border-top:none;
  padding:6px;
}

#login-logout li {
    padding:0;
    margin-top:10px;
}

#LoginModal h3, #small-modal {
    text-align: center;
    color:rgba(0,161,255,1);
}

#LoginModal .form-control {
    border-radius:0;
    background:rgba(242,242,242,1);
}

#LoginModal form {
    padding-top: 20px;
}

.login-right a {
    display: inline-block;
}

.login-right a {
  display: block;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  width:85%;
  color:#fff;
  font-size:18px;
}

.login-right h3 {
    padding-bottom: 20px;
}

    .login-right a:nth-of-type(2) {
        background-color:rgba(0,161,255,1);
        margin-top:16px;
    }

.modal-content {
  border-radius:0;
  padding-bottom: 40px;
}

#LoginModal .col-md-6:nth-of-type(1) {
  border-right: 1px solid rgba(0,0,0,0.2);
  padding-right: 40px;
}

.btn.btn-login {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  font-weight: bold;
  text-transform: capitalize;
}

.signin-btn {
  border-radius: 0;
  background:rgba(122,182,67,1);
  color:#fff;
  padding: 1rem 2rem;
  text-transform: capitalize;
}

.close {
  color: rgb(0, 0, 0);
  float: right;
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  opacity: 1;
  text-shadow: 0 1px 0 rgb(255, 255, 255);
}

/*----------------*/




/*----- General Styles -----*/

html, body {
    height: 100%;
}

a {
    text-decoration:none;
}

    a:hover {
        text-decoration: none;
    }

body {
    margin: 0 auto;
    min-width: 320px;
    color: #808080;
	width: 100%;
    font-family:"prox-reg",Arial,sans-serif;
}



.wrapper {
    width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /*margin: 0px auto -250px;*/ /* Subtract height of footer from bottom margin of wrapper (keeps footer at bottom of browser window no matter the resolution)*/
}

.push {
    height: 250px; /* Height of footer */
}

.width {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
}

.content {
    padding-bottom:100px;
}

.bold {
    font-weight: bold;
}

.pad-head {
    padding-top: 20px;
}

.pad-tail {
    padding-bottom: 50px;
}

h1.page-title{
    font-size: 36px;
    color: #FFF;
    text-transform: uppercase;
}

body h1 {
    font-weight: 700;
    color: #314B71;
    font-size: 38px;
}
body h2 {
    font-weight: 700;
    color: #314B71;
    font-size: 30px;
}

body h3{
    font-weight: 700;
    color: black;
    font-size: 24px;
}

body h4 {
    font-weight: 700;
    color: black;
    font-size: 20px;
}

body h5 {
    font-weight: 700;
    color: black;
    font-size: 20px;
}

ol {
    margin-left: 50px;
}

/*----- Tablet Landscape -----*/

@media (min-width: 768px) and (max-width: 979px) { 

}

/*----- Tablet Portrait -----*/
                   
@media (max-width: 767px) { 

}          
   
/*----- Phone -----*/     
      
@media (max-width: 480px) { 

}   

/*----- General Styles -----*/
.p-a {
  font-size: 20px;
  font-family: 'prox-light', Arial;
}
.p-b {
  font-size: 18px;
  font-weight: normal;
  font-family: 'prox-light', Arial;
}
.p-c {
  font-size: 16px;
  font-family: 'prox-light', Arial;
}
.p-d {
  font-size: 14px;
  font-family: 'prox-light', Arial;
}
.p-e {
  font-size: 14px;
}
/*----color palete -------*/
.Darkest-Blue {
  color: #002447 !important;
  background: white !important;
  background-color: white !important;
}

.Darkest-Blue-bg {
    background: white !important;
  background-color: white !important;
}
.Dark-Blue {
  color: #0072b1;
}
.Blue {
  color: #00a1ff;
}

.Red {
    color: red;
}

.Blue-bg {
  background: #0072b1;
}
.Light-Blue {
  color: #60c4ff;
}
.Green {
  color: #7ab643;
}
.Orange {
  color: #ff9100;
}
.Black {
  color: #000000 !important;
}
.Darkest-Grey {
  color: #333333;
}
.Dark-Grey {
  color: #4d4d4d;
}
.Grey {
  color: #808080;
}
.Light-Grey {
  color: #868686;
}
.Background-Grey {
  color: #f2f2f2;
}
.White {
  color: #fff;
}

.White-bg {
  color: #fff !important;
}

/* ---------------- FOOTER CSS ---------------- */
#top-footer {
  background-color: #333333;
}
#top-footer li,
#top-footer li a {
  color: white;
  text-decoration: none;
  list-style: none;
}
#top-footer li a:hover {
  color: #60c4ff;
}
.pad-head {
  padding-top: 40px;
}
.orange-bg {
  background-color: #FF9200;
}

.orange-bg a, .orange-bg a:hover {
    color: #FFF;
}
@media screen and (max-width: 712px) {  
   .home-boxes{
       margin-top:10px !important;
   }
}
.home-boxes .col-sm-6 {
    box-shadow: 1px 3px 5px #888888;
    height: 300px;
    padding-bottom: 15px;
    padding-top: 15px;
}
#myEmployeeForm > input
{
    margin-bottom:10px
}
#previousModal
{
    margin-left:0px !important;
    margin-right:0px !important;
}

.home-boxes {
    bottom:300px;
    margin: auto;
    position: relative;
}

    .home-boxes h1 {
        font-size:4vw;
    }

.white-bg {
    background-color: white;
}

#bottom-footer {
  background-color: black;
  color: white !important;
  font-size: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
}
#bottom-footer a {
  color: white;
  text-decoration: none;
}
#bottom-footer a:hover {
  color: #60c4ff;
}
#footer-social-media li {
  display: inline;
  list-style: none;
}
#footer-social-media {
  position: relative;
  right: 47px;
}
.clearfix {
  clear: both;
}
.blue-box {
  background: #0072B2;
  padding-top: 15px;
  padding-bottom: 15px;
}
.glyphicons-remove
{
    background-image: url(../img/glyphicons-remove.png)
}
.blue-triangle {
  background-color: #0072b2;
  bottom: 16px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  position: relative;
  width: 30px;
  -ms-transform: rotate(135deg);
  /* IE 9 */
  -webkit-transform: rotate(135deg);
  /* Chrome, Safari, Opera */
  transform: rotate(135deg);
}
.green-button {
  background: #7ab643;
  padding: 6px 23px;
}

.orange-triangle {
  background-color: #FF9200;
  bottom: 16px;
  height: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  position: relative;
  width: 15px;
  -ms-transform: rotate(135deg);
  /* IE 9 */
  -webkit-transform: rotate(135deg);
  /* Chrome, Safari, Opera */
  transform: rotate(135deg);
}

.green-button a,
.green-button a:hover {
  color: white;
  text-decoration: none;
}
.green-button:hover {
  background: #FF9200;
}

.blue-button {
  margin-top: 10px;
  background: #0072B2 !important;
  padding: 6px 23px;
  border: none;
  color: white;
}
.blue-button a,
.blue-button a:hover {
  color: white;
  text-decoration: none;
}
.blue-button:hover {
  background: #FF9200;
}

.job-search-btn {
    display: block;
    margin: auto;
    width: 120px;
}

.pad-tail {
  padding-bottom: 40px;
}
.light-blue {
  color: #03A3FF !important;
}
.img-left {
  float: left;
  padding-right: 20px;
}

#latest-news {
    color: white;
    background-color: #00A2FF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#latest-jobs {
    color: white;
    background-color: #99CA3C;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#latest-events {
    color: white;
    background-color: #0072B2;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#mtn-articles {
    color: white;
    background-color: #FF9200;
    padding-top: 10px;
    padding-bottom: 10px;;
    padding-left: 20px;
    padding-right: 20px;
}
#news-partial {
    margin-bottom: 20px;
    font-weight: bold;
}
.news-date, .news-info {
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

.date, .info {
    color: black;
}

.date {
    font-weight: bold;
}

.news-cta a{
    margin-left: 10px;
    margin-right: 10px;
    color: #7ab643;
    font-weight: normal;
    text-decoration: none;
}

.news-cta a:hover {
    text-decoration: underline;
}

.news-info  {
    font-weight: normal;
}

.green-button {
    background-color: #7ab643;
    color: white;
    border: none;
    padding: 6px 23px;
}
.orange-button {
    background-color: #FF9200;
    color: white;
    border: none;
    padding: 6px 23px;
}
.orange-button:hover {
    background-color: #7ab643;
}

.grey-bg {
 background-color: #F3F3F3;
}

#mil-news-table {
    width: 100%;
}

#mil-news-table tr {
    border-bottom: 1px solid;
    height: 50px;
}

#mil-news-table tr:hover {
    background-color: #F3F3F3;
}

.quick-stat-table {
    width: 100%;
}

.quick-stat-table tr {
    height: 50px;
    border-top: 1px solid;
}

.quick-stat-table td {
    padding: 15px
}

.quick-stat-table tr:hover {
    background-color: #F3F3F3;
    cursor: pointer;
}

#job-board-table {
    width: 100%;
}

#job-board-table tr {
    height: 50px;
}

#job-board-table tr:nth-child(even) {
    background-color: #F3F3F3;
}

#job-board-table th {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

/*#job-pagination {
    border: 1px solid #CCCCCC;
}*/

#job-pagination .page {
    border-left: 1px solid #CCCCCC;
    border-top: 2px solid #CCCCCC;
    border-bottom: 2px solid #CCCCCC;
    padding-top: 5px;
    padding-bottom: 5px;

}

#job-pagination .page:hover {
    background-color: #0072B2;
}

#job-pagination .page a {
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

#job-pagination .page a:hover {
    color: white;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

#job-pagination #next {
    border-top: 2px solid #CCCCCC;
    border-right: 2px solid #CCCCCC;
    border-bottom: 2px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    padding: 5px;
}

#job-pagination #next:hover {
    background-color: #0072B2;
}

#job-pagination #next a {
    text-decoration: none;
}

#job-pagination #next a:hover {
    color: white;
    text-decoration: none;
}

#job-pagination #previous {
    padding: 5px;
    border-top: 2px solid #CCCCCC;
    border-left: 2px solid #CCCCCC;
    border-bottom: 2px solid #CCCCCC;
}

#job-details strong {
    color: black;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

.job-board-state, .save-icon {
    margin-left: 10px;
}
.orange-circle {
    background-color: #FF9200;
	border-radius: 50%;
	width: 75px;
	height: 75px; 
}

.quick-stats .orange-circle {
    margin: auto;
}
.number {
    display: block;
    position: relative;
    top: 12px;
    font-size: 34px;
}
.margin-top-35 {
    margin-top: 35px;
}

.mil-news-home {
    margin-top: 35px;
    padding: 1px 30px 30px;
}
#mil-news-overflow {
    overflow: scroll;
    overflow-x: hidden;
    height: 460px;
}
.pad-bottom {
    padding-bottom: 40px;
}
.home-40-40 img{
    margin-right: 15px;
}
#employer-services h4 {
    color: white;
}
#employer-services div {
    margin-right: 1%;
    text-align: center;
}
.package-body {
    background-color: white;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 4%;
}

.package-body div {
    margin-bottom: 5px;
    margin-top: 5px;
}
.packages a {
    display: block;
    margin: auto;
    text-align: center;
    width: 125px;
}
.packages a:hover {
    color: white;
    text-decoration: none;
}
.two-col {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}
.center-block {
    margin: auto;
}
#home-emp-signup {
    padding-left: 25px;
    padding-right: 25px;
}
#home-emp-signup input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.pad-in {
    padding-left: 50px;
    padding-right: 50px;
}
.bold {
    font-weight: bold;
}
#search-resumes .row:nth-child(odd) {
    background-color: #F3F3F3;
}

#search-resumes .row:nth-child(1) {
    border-top: 1px solid #4d4d4d;
}

#search-resumes .row {
    padding-top: 25px;
    padding-bottom: 25px;
}

#job-cat, #job-cat-selected {
    height: 330px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #F3F3F3;
}

#job-cat {
    padding-right: 10px;
}

#job-cat-selected {
    padding-left: 10px;
}
.bump-down {
    margin-top: 15px;
}
#post-job input, #post-job textarea {
    border: none;
    background-color: #F3F3F3;
    margin-top: 10px;
}

#post-job select {
    width: 100%;
}

#save-and-preview {
    position: relative;
    top: 40px;
}
#save-and-preview button {
    width: 45%;
}

#emp-options {
    background-color: #0072B2;
    padding-top: 25px;
}

.jobs-tab-inactive {
    background-color: #055483;
    color: white;
    margin: auto;
    padding: 10px;
    text-align: center;
    width: 150px;
    font-weight: bold;
    cursor: pointer;
    font-size:20px;
    text-decoration: underline;
}


.jobs-tab-active {
    background-color: white !important;
    color: #0072b2 !important;
    margin: auto;
    padding: 10px;
    text-align: center;
    width: 150px;
    font-weight: bold;
    cursor: pointer;
    font-size:20px;
}

.candidates-tab-inactive {
    background-color: #055483;
    color: white;
    margin: auto;
    padding: 10px;
    text-align: center;
    width: 150px;
    font-weight: bold;
    cursor: pointer;
    font-size:20px;
    text-decoration: underline;
}
.candidates-tab-active {
    background-color: white !important;
    color: #0072b2 !important;
    margin: auto;
    padding: 10px;
    text-align: center;
    width: 150px;
    font-weight: bold;
    cursor: pointer;
    font-size:20px;
}
#mil-news-table #top-row {
    background-color: #F2F2F2;
}
#emp-liberty-package img, emp-liberty-package img {
    float: right;
}

.packages .hide-on-home {
    display: none;
}

.input-validation-error {
    border: 1px solid red !important;
}

.validation-summary-errors {
    color: red;
    font-size: 16px;
}

.validation-summary-valid {
    display: none;
}

.register-seeker, .register-employer{
    color: #fff;
    display: block;
    font-size: 18px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    width: 85%;
    font-weight: normal !important;
}

.register-seeker:hover, .register-employer:hover{
    color: white;
}

.register-seeker {
    background-color: #FF9200 !important;
}

.register-employer{
    background-color: #7AB643 !important;
}
.modal-header, .modal-footer{
    border: none !important;
}

#JobSeekerModal select,
#JobSeekerModal input {
    border: none !important;
    background-color: #F3F3F3 !important;
    margin-bottom: 10px !important;
}

#JobSeekerModal h1, #EmployerModal h1{
    color: #0072B2 !important;
    text-align: center; 
}

.save-continue-btn{
    background-color: green !important;
    color: white;
    display: block;
    margin: auto;
    padding: 1rem !important;
    border: none;
}

#EmployerModal input,
#EmployerModal select {
    border: none !important;
    background-color: #F3F3F3 !important;
    margin-bottom: 10px !important;
}

#JobSeekerModal select,
#EmployerModal select {
    margin-top: 0;
}

#EmployerModal h1, #EmployerModal h1 {
    color: #0072B2 !important;
    text-align: center; 
}

#sign-up-btn{
    cursor: pointer;
}

table .p-c {
    padding: 0;
}

table th:first-child,
table td:first-child {
    padding-left: 15px;
}

#my-resume input,
#my-resume select {
    margin-bottom: 10px;
}

.url-border {
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  padding-top: 20px;
  padding-bottom: 20px;
}

.blue-box {
    background-color: #0072B1;
    color: white;
    position: relative;
    top: 15px;
}

.two-col {
    -moz-column-count: 2;
    -moz-column-gap: 22px;
    -webkit-column-count: 2;
    -webkit-column-gap: 22px;
    column-count: 2;
    column-gap: 22px;
    padding-left: 13px;
}

.job-fair-page h2 {
    font-size: 42px !important;
    color: black;
    font-weight: bold;
}

.job-fair-page h3 {
    font-size: 32px !important;
    color: red !important;
}

.job-fair-page h4 {
    font-size: 32px !important;
}

.opportunites {
    font-size: 18px !important;
}

.job-fair-applicants {
    left: 28px;
    margin-bottom: -21px;
    position: relative;
    z-index: -999;
}

#job-fair-flyer {
    border: 5px solid #0072B1;
    padding: 15px;
}

.stButton .st-twitter-counter, .stButton .st-facebook-counter, .stButton .st-email-counter {
    height: auto !important;
}

#creditLine, .footBotRow {
    display: none !important;
}

.stArrow {
    margin-bottom: 20px;
}

#charts .title {
    color: #333;
    font-size: 18px;
}

.red-number {
    color: #F37992;
}

.grey-number {
    color: #eee;
}

#charts .border-top{
    border-top: 1px solid #eee;
}

#charts .border-right{
    border-right: 1px solid #eee;
}

#charts .border-bottom{
    border-bottom: 1px solid #eee;
}

#charts .border-left{
    border-left: 1px solid #eee;
}