﻿@model CivilianJobs.Models.Ad
@{
    ViewBag.Title = "Create Ad";
}
<style>
    iframe {
        max-height: 125px;
    }
</style>
<div class="span12 pad-left pad-right admin">
    <h5 class="alert-danger">@ViewBag.UserAlerts</h5>
    <h2>@ViewBag.Title</h2>
    @using (Html.BeginForm("Create", "AdManager", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.AdID)
        <table class="table table-bordered">
            <tr>
                <th colspan="1">
                    <div class="btn-group">
                        <a onclick="submitForm()" class="btn btn-primary" href="javascript:void(0)">Save</a>
                        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-primary" })
                    </div>
                </th>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Title, new { @style = "display: inline-block;" })
                    <label class="labelInfo"><img src="~/Content/img/info.png" /> Will be dispalyed under Ad </label>
                    <br />
                    @Html.EditorFor(model => model.Title, new { @class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Title)
                </td>
                <td>
                    @Html.LabelFor(model => model.Hyperlink, new { @style = "display: inline-block;" })
                    <label class="labelInfo"><img src="~/Content/img/info.png" /> Url for Ad </label>
                    <br />
                    @Html.EditorFor(model => model.Hyperlink, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Hyperlink)
                </td>
                <td>
                    <label for="Hyperlink" style="display: inline-block;">Static Pages</label>
                    <label class="labelInfo"><img src="/Content/img/info.png"> List of static pages to post ad </label>
                    <br>
                    <div class="col-sm-11">
                        <select id="staticpage" class="form-control">
                            <option value="http://stage11.atomicdesign.net/page/employers">http://stage11.atomicdesign.net/page/employers</option>
                            <option value="http://stage11.atomicdesign.net/page/microsites">http://stage11.atomicdesign.net/page/microsites</option>
                            <option value="http://stage11.atomicdesign.net/page/military-job-fairs">http://stage11.atomicdesign.net/page/military-job-fairs</option>
                            <option value="http://stage11.atomicdesign.net/page/privacy-policy">http://stage11.atomicdesign.net/page/privacy-policy</option>
                            <option value="http://stage11.atomicdesign.net/staffing-products">http://stage11.atomicdesign.net/staffing-products</option>
                            <option value="http://stage11.atomicdesign.net/jobseeker/index">http://stage11.atomicdesign.net/jobseeker/index</option>
                            <option value="http://stage11.atomicdesign.net/page/about-us">http://stage11.atomicdesign.net/page/about-us</option>
                        </select>
                    </div>
                    <div class="col-sm-1">
                        <a href="javascript:void(0)"><i style="margin-top: 7px" class="glyphicon glyphicon-plus" onclick="addStaticPage()"></i></a>
                    </div>
                </td>
                
                <td>
                    @Html.LabelFor(model => model.Subject, new { @style = "display: inline-block;" })
                    <label class="labelInfo"><img src="~/Content/img/info.png" /> Subject for email notification </label>
                    <br />
                    @Html.EditorFor(model => model.Subject)
                    @Html.ValidationMessageFor(model => model.Subject)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.PublishFor, new { @style = "display: inline-block;" })
                    <label class="labelInfo"><img src="~/Content/img/info.png" /> Account where Ad will be displayed. @*If left empty, it will display for every Publish Page url*@ </label>
                    <br />
                    @Html.EditorFor(model => model.PublishFor)
                    @Html.ValidationMessageFor(model => model.PublishFor)
                </td>
                <td>
                    @*@Html.LabelFor(model => model.PublishStartDate, new { @style = "display: inline-block;" })
                        <label class="labelInfo"><img src="~/Content/img/info.png" /> Date when Ad started </label>
                        <br />
                        @Html.EditorFor(model => model.PublishStartDate)
                        @Html.ValidationMessageFor(model => model.PublishStartDate)*@
                </td>
                <td rowspan="3">
                    <label for="definedAdPages">Defined Ad positions</label>
                    <div class="col-sm-11">
                        <select id="definedAdPages" class="form-control">
                        </select>
                    </div>
                    <div class="col-sm-1">
                        <a href="javascript:void(0)"><i style="margin-top: 7px" class="glyphicon glyphicon-plus" onclick="addIntoPublishPage()"></i></a>
                    </div>
                    @Html.LabelFor(model => model.PublishPage, new { @style = "display: inline-block;" })
                    <label class="labelInfo"><img src="~/Content/img/info.png" /> Page where Ad will be display. Write each page on seperate line.</label>
                    <br />
                    @Html.TextAreaFor(model => model.PublishPage, new { @class = "form-control", @style = "position: absolut; width: 100%; height: 275px;resize: none;" })
                    @Html.ValidationMessageFor(model => model.PublishPage)
                </td>
                <td rowspan="3">
                    @Html.LabelFor(model => model.Message, new { @style = "display: inline-block;" })
                    <label class="labelInfo"><img src="~/Content/img/info.png" /> Email message for expire notification </label>
                    <br />
                    @Html.TextAreaFor(model => model.Message, new { @class = "wysiwyg hide" })
                    @*@Html.TextAreaFor(model => model.Message, new { @style = "position: absolut; width: 100%; height: 205px;resize: none;" })*@
                    @Html.ValidationMessageFor(model => model.Message)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.LiveDuration, new { @style = "display: inline-block;" })
                    <label class="labelInfo"><img src="~/Content/img/info.png" /> Days to live Ad </label>
                    <br />
                    @Html.EditorFor(model => model.LiveDuration)
                    @Html.ValidationMessageFor(model => model.LiveDuration)
                </td>
                <td>
                    @Html.LabelFor(model => model.PreExpireNotification, new { @style = "display: inline-block;" })
                    <label class="labelInfo"><img src="~/Content/img/info.png" /> Days for pre-expire notification</label>
                    <br />
                    @Html.EditorFor(model => model.PreExpireNotification)
                    @Html.ValidationMessageFor(model => model.PreExpireNotification)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.NotificationTo, new { @style = "display: inline-block;" })
                    <label class="labelInfo"><img src="~/Content/img/info.png" /> Email to send expire Ad notification </label>
                    <br />
                    @Html.EditorFor(model => model.NotificationTo)
                    @Html.ValidationMessageFor(model => model.NotificationTo)
                </td>
                <td>
                    @Html.LabelFor(model => model.ImageUrl, new { @style = "display: inline-block;" })
                    <label class="labelInfo"><img src="~/Content/img/info.png" /> Image for Ad </label>
                    <br />
                    <input type="file" name="Image" />
                    <br />
                    @Html.TextBoxFor(model => model.ImageUrl, new { @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.ImageUrl)
                </td>
            </tr>
        </table>
    }
</div>
@section Scripts{
    <script type="text/javascript">

        publishPages = [
            { text: "Select banner page", value: "none"},
            { text: "Job Seeker Home, right, vertical Ad", value: "Job Seeker Home, right, vertical Ad" },
            { text: "Job Seeker Home, left, vertical Ad", value: "Job Seeker Home, left, vertical Ad" },
            { text: "Employer Home, vertical Ad", value: "Employer Home, vertical Ad" },
            { text: "JobFairs, vertical Ad", value: "JobFairs, vertical Ad" },
            { text: "Transition News, vetical Ad", value: "Transition News, vetical Ad" },
        ];
        $(document).ready(function () {
            $("input").addClass('form-control');
            $.each(publishPages, function (index, item) {
                $('#definedAdPages').append(
                    '<option value="' + item.value + '" data-id="' + index + '">' + item.text + '</option>'
                    );
            })
            
        });
        $(function () {
            $("#ImageUrl").val("");
            $("[name=Image]").change(function () {
                $("#ImageUrl").val($(this).val());
            });
        });

        function submitForm() {
            $("form")[0].submit();
        };

        function addIntoPublishPage() {
            var temp = $('#definedAdPages option:Selected').data("id");
            if (temp != "0" && $('#PublishPage').val().indexOf(publishPages[temp].text)<0)
                $('#PublishPage').append("\n" + publishPages[temp].text);
        }
        function addStaticPage() {
            if ($('#PublishPage').val().indexOf($("#staticpage").val()) < 0)
                $("#PublishPage").html($("#PublishPage").html() + "\n" + $("#staticpage").val());
        }
    </script>
}