﻿@model CivilianJobs.Models.Ad
@{
    ViewBag.Title = "Delete " + Model.Title;
}
<div class="span12 pad-left pad-right admin">
    <h2>@ViewBag.Title</h2>
    
    <h3>Are you sure you want to delete this ad?</h3>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.AdID)
        @Html.AntiForgeryToken()
        <div class="btn-group">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
