﻿@model IEnumerable<CivilianJobs.Models.Ad>
@{
    ViewBag.Title = "Ad Management";
}
<style>
    table.vmiddle tr td {
        vertical-align: middle;
    }
</style>
<div class="span12 pad-left pad-right admin">
    <h2>@ViewBag.Title</h2>
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
        <label style="font-weight: normal">* If <strong>Publish For </strong> is set to blank then ad will be for everybody.</label>
    </p>
    <table class="table table-striped table-bordered vmiddle">
        <tr>
            <th>
                Image
            </th>
            <th>
                Hyperlink
            </th>
            <th>
                Title
            </th>
            <th>
                Publish For
            </th>
            @*<th>
                Publish Page
            </th>*@
            <th>
                Publish Start Date
            </th>
            <th>
                Run For (Days)
            </th>
            @*<th>
                Pre-expire Notification (Days)
            </th>*@
            <th>
                Remaining (Days)
            </th>
            <th>
                Notification To
            </th>
            <th>
                Notification Sent
            </th>
            <th class="options"></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" height="100" width="100" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hyperlink)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishFor)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.PublishPage)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.PublishStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LiveDuration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PreExpireNotification)
                </td>
                @*<td>
                    @(item.LiveDuration - item.PreExpireNotification)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.NotificationTo)
                </td>
                <td>
                    @Html.CheckBox("NotificationSent", (item.NotificationSent > 0) ? true : false, new { @disabled = "disabled" })
                </td>
                <td class="text-center">
                    <div class="btn-group">
                        @Html.ActionLink("View/Edit", "Edit", new { id = item.AdID }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.AdID}, new { @class = "btn btn-danger" })
                    </div>
                </td>
            </tr>
        }
    </table>
</div>