﻿@model CivilianJobs.Models.Base.CRM.Employer

<div id="register-employer">

    <h1>Employer Registration</h1><br />

    @using (Html.BeginForm("RegisterEmployer", "Account"))
    {
        @Html.ValidationSummary("Please correct the following errors before proceeding:")
    <div class="col-md-10 col-md-offset-1">
        @Html.Hidden("type", CivilianJobs.Models.Jobs.Enums.JobsUserRole.Employer)

        @Html.TextBoxFor(x => x.CompanyName, "", new { @class = "form-control", placeholder = "Company Name" })

        @Html.TextBoxFor(x => x.CompanyWebsite, "", new { @class = "form-control", placeholder = "Company Website" })

        <div class="row">
            <div class="col-sm-6">
                @Html.TextBoxFor(x => x.FirstName, "", new { @class = "form-control", placeholder = "First Name" })
            </div>
            <div class="col-sm-6">
                @Html.TextBoxFor(x => x.LastName, "", new { @class = "form-control", placeholder = "Last Name" })
            </div>
        </div>

        @Html.TextBoxFor(x => x.Address, "", new { @class = "form-control", placeholder = "Business Address" })

        @Html.TextBoxFor(x => x.Address2, "", new { @class = "form-control" })

        <div class="row">
            <div class="col-sm-4">
                @Html.TextBoxFor(x => x.City, "", new { @class = "form-control", placeholder = "City" })
            </div>
            <div class="col-sm-4">
                @Html.TextBoxFor(x => x.State, new { @class = "form-control", placeholder = "State", maxlength = 2 })
            </div>
            <div class="col-sm-4">
                @Html.TextBoxFor(x => x.Zip, "", new { @class = "form-control", placeholder = "Zip" })
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                @Html.TextBoxFor(x => x.PrimaryPhone, "", new { @class = "form-control", placeholder = "Primary Phone" })
            </div>
            <div class="col-sm-6">
                @Html.TextBoxFor(x => x.AlternatePhone, "", new { @class = "form-control", placeholder = "Alternate Phone" })
            </div>
        </div>

        @Html.TextBoxFor(x => x.Email, "", new { @class = "form-control", placeholder = "Email" })

        @Html.TextBoxFor(x => x.EmailAgain, "", new { @class = "form-control", placeholder = "Confirm Email" })

        <div class="row">
            <div class="col-sm-6">
                @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Password" })
            </div>
            <div class="col-sm-6">
                @Html.PasswordFor(x => x.PasswordAgain, new { @class = "form-control", placeholder = "Confirm Password" })
            </div>
        </div>

        @*@Html.TextBoxFor(x => x.HowHeardAbout, new { @class = "form-control", placeholder = "How did you hear about CivilianJobs.com?" })*@
        @Html.DropDownListFor(x => x.HowHeardAbout, new SelectList(new List<SelectListItem>{
       new SelectListItem{Text = "How did you hear about HireMilitary.com?", Value ="How did you hear about HireMilitary.com?"},
       new SelectListItem{Text = "ACAP/TAPi can", Value ="ACAP/TAPi can"},
       new SelectListItem{Text = "Base Newspaper", Value ="Base Newspaper"},
       new SelectListItem{Text = "Bradley-Morris", Value ="Bradley-Morris"},
       new SelectListItem{Text = "Civilian Jobs News", Value ="Civilian Jobs News"},
       new SelectListItem{Text = "Contacted By Phone", Value ="Contacted By Phone"},
       new SelectListItem{Text = "Corporate Gray", Value ="Corporate Gray"},
       new SelectListItem{Text = "Email", Value ="Email"},
       new SelectListItem{Text = "Internet Search Engine", Value ="Internet Search Engine"},
       new SelectListItem{Text = "Job Fair", Value ="Job Fair"},
       new SelectListItem{Text = "Local Marketing Rep", Value ="Local Marketing Rep"},
       new SelectListItem{Text = "Mailer / Direct Mail", Value ="Mailer / Direct Mail"},
       new SelectListItem{Text = "Military Association", Value ="Military Association"},
       new SelectListItem{Text = "Military Housing", Value ="Military Housing"},
       new SelectListItem{Text = "Military Times", Value ="Military Times"},
       new SelectListItem{Text = "Radio", Value ="Radio"},
       new SelectListItem{Text = "Referral", Value ="Referral"},
       new SelectListItem{Text = "Trade Journal", Value ="Trade Journal"},
       new SelectListItem{Text = "Trade Magazine", Value ="Trade Magazine"},
        }, "Text", "Value", "How did you hear about HireMilitary.com?"),
        new { @class = "form-control" })
        @*@Html.TextBoxFor(x => x.WhichAccountExecutive, new { @class = "form-control", placeholder = "Which Account Executive are you working with?" })*@
        
        @Html.DropDownListFor(x => x.WhichAccountExecutive, new SelectList(new List<SelectListItem>{
      new SelectListItem{Text = "Which Account Executive are you working with?", Value ="Which Account Executive are you working with?"},
       new SelectListItem{Text = "Unknown", Value ="Unknown"},
       new SelectListItem{Text = "James Irwin", Value ="James Irwin"},
       new SelectListItem{Text = "Tucker Harrell", Value ="Tucker Harrell"},
       new SelectListItem{Text = "Brett Comerford", Value ="Brett Comerford"},
       new SelectListItem{Text = "Karen Meyers", Value ="Karen Meyers"},
       new SelectListItem{Text = "Garrett Reed", Value ="Garrett Reed"},
       new SelectListItem{Text = "Stephanie Brinkley", Value ="Stephanie Brinkley"},
       new SelectListItem{Text = "Kyle Friend", Value ="Kyle Friend"},
       new SelectListItem{Text = "Matt McClain", Value ="Matt McClain"},
       new SelectListItem{Text = "Glen Nelson", Value ="Glen Nelson"},
       new SelectListItem{Text = "John Skinner", Value ="John Skinner"},
       new SelectListItem{Text = "David Rivera", Value ="David Rivera"},
       new SelectListItem{Text = "Jillian LeBlanc", Value ="Jillian LeBlanc"}
    }, "Text", "Value", "Which Account Executive?"),
        new { @class = "form-control" })
        
    </div>
        <br /><br />
        <input type="submit" value="Save & Continue" onclick="storeData()" class="save-continue-btn" style="background: #99ca3c !important;" />
    }

</div>