﻿@model CivilianJobs.Models.FormFieldOption

@{
    ViewBag.Title = "Delete";
}

<div class="span12 pad-left pad-right admin">

    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <fieldset>
        <legend>FormFieldOption</legend>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.FormField.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.FormField.Name)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.Order)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Order)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.Text)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Text)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.Value)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Value)
        </div>
    </fieldset>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Delete" /> |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }

</div>
