﻿@model CivilianJobs.Models.FormFieldOption

@{
    ViewBag.Title = "Details";
}

<div class="span12 pad-left pad-right admin">

    <h2>Details</h2>

    <fieldset>
        <legend>FormFieldOption</legend>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.FormField.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.FormField.Name)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.Order)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Order)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.Text)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Text)
        </div>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.Value)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Value)
        </div>
    </fieldset>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id=Model.FormFieldOptionID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

</div>