﻿@using CivilianJobs.Models
@using CivilianJobs.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11" />
    <meta name="viewport" content="width=device-width" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <title>@ViewData["Site Name"] Admin - @ViewBag.Title</title>
    <meta name="keywords" content="@ViewBag.MetaKeywords" />
    <meta name="description" content="@ViewBag.MetaDescription" />
    <link rel="stylesheet" type="text/css" href="/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/Content/css/smoothness/jqueryui.min.css" />
    <link rel="stylesheet" type="text/css" href="/Content/css/admin.css" />
    <link rel="stylesheet" type="text/css" href="/Content/css/ie-isnt-a-real-browser.css" />
    @RenderSection("styles", false)
    <script>
        localStorage.CurrentUserRole = "Administrator";
        $(document).ready(function () {
            $(".btn-signout").on("click", function () {
                localStorage.CurrentUserRole = "unknown";
            });
        });
    </script>
</head>
<body>
    <a class="brand pull-left" href="/admin"><img src="/Content/img/citrus-web-logo.png" alt="Citrus Web" /></a>
    <div class="user-nav pull-right">
        <div class="user-nav-links pull-left">
            @Html.ActionLink("Settings", "Index", "SettingManager", new { Area = "admin" }, new { })
        </div>
        <a href="/admin/Dashboard/Logout" class="btn-signout" id="signoutButton">Sign Out</a>
    </div>
    <div class="navbar clear">


        <nav class="navbar navbar-default admin-nav" role="navigation">
            <div class="container-fluid width">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav">
                        <li class="@(Request.Url.AbsolutePath.EndsWith("/admin") ? "active" : "")">@Html.ActionLink("Dashboard", "Index", "Dashboard", new { Area = "admin" }, new { })</li>
                        <li class="dropdown @(Request.Url.AbsolutePath.Contains("Dashboard/CMS") ||
                            Request.Url.AbsolutePath.Contains("PageManager") ||
                            Request.Url.AbsolutePath.Contains("BlockManager") ||
                            Request.Url.AbsolutePath.Contains("NavManager") ||
                            Request.Url.AbsolutePath.Contains("MediaManager") ||
                            Request.Url.AbsolutePath.Contains("FormManager") ? "active" : "")">
                            <a href="@Url.Action("CMS", "Dashboard", new { Area = "admin" })" class="dropdown-toggle" data-toggle="dropdown">
                                CMS&nbsp;<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu admin-drop">
                                <li>@Html.ActionLink("Pages", "Index", "PageManager", new { Area = "admin" }, new { })</li>
                                <li>@Html.ActionLink("Blocks", "Index", "BlockManager", new { Area = "admin" }, new { })</li>
                                <li>@Html.ActionLink("Navbars", "Index", "NavManager", new { Area = "admin" }, new { })</li>
                                <li>@Html.ActionLink("Forms", "Index", "FormManager", new { Area = "admin" }, new { })</li>
                                <li>@Html.ActionLink("Media", "Index", "MediaManager", new { Area = "admin" }, new { })</li>
                         
                             </ul>
                        </li>


                        <li class="dropdown @(Request.Url.AbsolutePath.Contains("AnimalsManager") ||
                            Request.Url.AbsolutePath.Contains("GalleriesManager")? "active" : "")">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                Modules<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Calendar", "Index", "CalendarManager", new { Area = "admin" }, new { })</li>
                                <li>@Html.ActionLink("Galleries", "Index", "GalleriesManager", new { Area = "admin" }, new { })</li>
                                <li>@Html.ActionLink("Transition News", "Index", "TransitionNews", new { Area = "admin" }, new { })</li>
                                <li>@Html.ActionLink("Press Releases", "Index", "PressRelease", new { Area = "admin" }, new { })</li>
                                <li>@Html.ActionLink("Microsites", "Index", "Micrositemanager", new { Area = "admin" }, new { })</li>
                                <li>@Html.ActionLink("Job Fair Manager", "Index", "JobFairsmanager", new { Area = "admin" }, new { })</li>
                                <li>@Html.ActionLink("Order Manager", "Index", "OrdersManager", new { Area = "admin" }, new { })</li>
                                
                                <li>@Html.ActionLink("Job Posting Sales", "salesjobpostings", "AdminEmployer", new { Area = "admin" }, new { })</li>
                                <li>@Html.ActionLink("MTN Sales", "mtnsales", "AdminEmployer", new { Area = "admin" }, new { })</li>
                                <li>@Html.ActionLink("Job Fair Sales", "salesjobfairs", "AdminEmployer", new { Area = "admin" }, new { })</li>
                                <li>@Html.ActionLink("Sales Order Ads", "salesorderads", "AdminEmployer", new { Area = "admin" }, new { })</li>
                                <li>@Html.ActionLink("Web Usage Sales", "saleswebusage", "AdminEmployer", new { Area = "admin" }, new { })</li>
                                <li>@Html.ActionLink("Web Ad Sales", "webadsales", "AdminEmployer", new { Area = "admin" }, new { })</li>
                                <li>@Html.ActionLink("Sales", "sales", "AdminEmployer", new { Area = "admin" }, new { })</li>
                                <li>@Html.ActionLink("Ad Server", "Index", "AdServer", new { Area = "admin" }, new { })</li>
                                <li>@Html.ActionLink("Ad Manager", "Index", "AdManager", new { Area = "admin" }, new { })</li>
                                <li>@Html.ActionLink("SRM Manager", "Index", "SRMManager", new { Area = "admin" }, new { })</li>
                            </ul>
                        </li>
                        @*<li>@Html.ActionLink("Users", "Index", "UserManager", new { Area = "admin" }, new { })</li>*@
                        <li class="@(Request.Url.AbsolutePath.Contains("EmailManager") ? "active" : "")">@Html.ActionLink("Email Queue", "Index", "EmailManager", new { Area = "admin" }, new { })</li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    @if (ViewBag.Alerts != null)
    {
        IEnumerable<AdminAlert> alerts = (IEnumerable<AdminAlert>)ViewBag.Alerts;
        <div class="container-fluid container-main">
            <div class="row-fluid">
                <div class="span12 pad-left pad-right">@foreach (AdminAlert a in alerts) { <text>@Html.Raw(a.HTML)</text> }</div>
            </div>
        </div>
    }

    <div class="container-fluid container-main">
        <div class="row-fluid">
            <div class="span12">@RenderBody()</div>
        </div>
    </div>
    
    <div class="container-fluid container-main">
        <div class="row-fluid">
            <div class="span12 text-right pad-right">&copy; @DateTime.Now.Year Atomic Design Inc.</div>
        </div>
    </div>
    <script src="/Content/js/handlebars.js"></script>
    <script src="/Content/js/bootstrap.min.js"></script>
    <script src="/Content/js/tinymce/tinymce.min.js"></script>
    <script src="/Content/js/jquery.validate.min.js"></script>
    <script src="/Content/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="/Content/js/admin.backend.js"></script>
    <script type="text/javascript">
        $(function () {
            tinymce.init({
                selector: 'textarea.wysiwyg',
                height: 600,
                menubar: false,
                verify_html: false,
                convert_urls: false,
                forced_root_block: false,
                doctype: "<!DOCTYPE html>",
                plugins: [
                        "advlist autolink link lists charmap hr anchor pagebreak spellchecker",
                        "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime nonbreaking",
                        "table contextmenu paste textcolor"
                ],
                toolbar: "code undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | print preview media fullpage | forecolor backcolor emoticons"

            });
        });

        var HBTemplates = {};
        function LoadHBTemplate(templateID) { HBTemplates[templateID] = Handlebars.compile($('#' + templateID).html()); }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
