﻿@model CivilianJobs.Models.Block

@{
    ViewBag.Title = "Delete " + Model.Name;
}

<div class="span12 pad-left pad-right admin">

    <h2>@ViewBag.Title</h2>

    <h3>Are you sure you want to delete this block?</h3>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Delete" class="btn btn-danger"/> @Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
        </p>
    }

</div>
