﻿@model IEnumerable<CivilianJobs.Models.Block>

@{
    ViewBag.Title = "Blocks";
}

<div class="span12 pad-left pad-right admin">

<h2>@ViewBag.Title</h2>

    @if(Request.IsLocal){ <p>@Html.ActionLink("Create New", "Create", null, new { @class = "btn" })</p> }
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="options"></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <div class="btn-group">
                    @Html.ActionLink("Edit", "Edit", new { id=item.BlockID }, new { @class = "btn" }) 
                    @if(Request.IsLocal){ @Html.ActionLink("Delete", "Delete", new { id=item.BlockID }, new { @class = "btn btn-danger" }) }
                </div>
            </td>
        </tr>
    }

    </table>

</div>
