﻿@model IEnumerable<CivilianJobs.Models.Jobs.Entities.JobFairs>

@section scripts{
    <script type="text/javascript" src="~/Content/js/pay.js"></script>
}

<div class="span12 pad-left pad-right admin">

    <h1>Orders Manager - Add</h1>
    <a href="/admin/ordersmanager">Go Back</a><br /><br />
 
    @using (Html.BeginForm("add", "OrdersManager", FormMethod.Post))
    {
        <div class="row">
            <div class="col-sm-12">
                Username (if this is a new user create his profile on the front-end of the site first): <input type="text" name="username" required />
            </div>
        </div>
        <br />
        
        <div class="row">
            <h4>Unlimited Job Postings</h4>
        </div>

        <div class="row">

            <div class="col-sm-4">
                Select months of unlimited job postings<br />
                <select name="JobPostingMonths">
                    <option value="0" data-fee="$0.00">0 - $0.00</option>
                    <option value="1" data-fee="$200.00">1 - $200.00</option>
                    <option value="2" data-fee="$400.00">2 - $400.00</option>
                    <option value="3" data-fee="$600.00">3 - $600.00</option>
                    <option value="4" data-fee="$800.00">4 - $800.00</option>
                    <option value="5" data-fee="$1,000.00">5 - $1,000.00</option>
                    <option value="6" data-fee="$1,200.00">6 - $1,200.00</option>
                    <option value="7" data-fee="$1,400.00">7 - $1,400.00</option>
                    <option value="8" data-fee="$1,600.00">8 - $1,600.00</option>
                    <option value="9" data-fee="$1,800.00">9 - $1,800.00</option>
                    <option value="10" data-fee="$2,000.00">10 - $2,000.00</option>
                    <option value="11" data-fee="$2,200.00">11 - $2,200.00</option>
                    <option value="12" data-fee="$2,000.00">12 - $2,000.00</option>
                </select>
            </div>

            <div class="col-sm-4 col-sm-offset-4">
                Fee<br /><span id="JobPostingMonthsFee" class="fee">$0.00</span>
            </div>

        </div>

        <div class="row">
            <h4>Resume Access</h4>
        </div>

        <div class="row">

            <div class="col-sm-4">
                Select views per day<br />
                <select name="ResumeAccessViewsPerDay">
                    <option value="0">Not Selected</option>
                    <option value="200">200 views per day</option>
                    <option value="400">400 views per day</option>
                    <option value="600">600 views per day</option>
                </select>
            </div>

            <div class="col-sm-4">
                Select months of access<br />
                <select name="ResumeAccessMonthsAccess0" id="resume-access-1" disabled>
                    <option value="0" data-fee="$0.00">0 - $0.00</option>
                </select>

                <select name="ResumeAccessMonthsAccess200" id="resume-access-2" style="display:none;">
                    <option value="0" data-fee="$0.00">0 - $0.00</option>
                    <option value="1" data-fee="$395.00">1 - $395.00</option>
                    <option value="3" data-fee="$1,066.00">3 - $1,066.00</option>
                    <option value="6" data-fee="$2,086.00">6 - $2,086.00</option>
                    <option value="9" data-fee="$3,022.00">9 - $3,022.00</option>
                    <option value="12" data-fee="$3,792.00">12 - $3,792.00</option>
                </select>

                <select name="ResumeAccessMonthsAccess400" id="resume-access-3" style="display:none;">
                    <option value="0" data-fee="$0.00">0 - $0.00</option>
                    <option value="1" data-fee="$672.00">1 - $672.00</option>
                    <option value="3" data-fee="$1,814.00">3 - $1,814.00</option>
                    <option value="6" data-fee="$3,546.00">6 - $3,546.00</option>
                    <option value="9" data-fee="$5,137.00">9 - $5,137.00</option>
                    <option value="12" data-fee="$6,446.00">12 - $6,446.00</option>
                </select>

                <select name="ResumeAccessMonthsAccess600" id="resume-access-4" style="display:none;">
                    <option value="0" data-fee="$0.00">0 - $0.00</option>
                    <option value="1" data-fee="$948.00">1 - $948.00</option>
                    <option value="3" data-fee="$2,561.00">3 - $2,561.00</option>
                    <option value="6" data-fee="$5,005.00">6 - $5,005.00</option>
                    <option value="9" data-fee="$7,252.00">9 - $7,252.00</option>
                    <option value="12" data-fee="$9,101.00">12 - $9,101.00</option>
                </select>
            </div>

            <div class="col-sm-4">
                Fee<br /><span id="ResumeAccessMonthsAccessFee" class="fee">$0.00</span>
            </div>

        </div>

        <div class="row">
            <h4>Combination Job Posting / Resume Access</h4>
        </div>

        <div class="row">

            <div class="col-sm-6">
                Job Postings + Resume Access (200 views per day)<br />
                <select name="CombinationJobPostingResumeAccess">
                    <option value="0" data-fee="$0.00">0 - $0.00</option>
                    <option value="3" data-fee="$1,500.00">3 - $1,500.00</option>
                    <option value="10" data-fee="$2,793.00">6 - $2,793.00</option>
                    <option value="11" data-fee="$3,858.00">9 - $3,858.00</option>
                    <option value="12" data-fee="$4,344.00">12 - $4,344.00</option>
                </select>
            </div>

            <div class="col-sm-4 col-sm-offset-2">
                Fee<br /><span id="CombinationJobPostingResumeAccessFee" class="fee">$0.00</span>
            </div>

        </div>

        <div class="row">
            <h4>Print Advertising - Military Transition News</h4>
        </div>

        <div class="row">

            <div class="col-sm-6">
                Select print ad / # of issues<br />
                <select name="PrintAdvertising">
                    <option value="0" data-fee="$750.00">1/8 page - 1 issue</option>
                    <option value="3" data-fee="$2,100.00">1/8 page - 3 issues</option>
                    <option value="10" data-fee="$3,900.00">1/8 page - 6 issues</option>
                    <option value="11" data-fee="$1,100.00">1/4 page - 1 issue</option>
                    <option value="12" data-fee="$3,000.00">1/4 page - 3 issues</option>
                    <option value="12" data-fee="$5,400.00">1/4 page - 6 issues</option>
                    <option value="12" data-fee="$1,800.00">1/2 page - 1 issue</option>
                    <option value="12" data-fee="$5,100.00">1/2 page - 3 issues</option>
                    <option value="12" data-fee="$5,100.00">1/2 page - 3 issues</option>
                    <option value="12" data-fee="$3,500.00">Full Page - 1 issue</option>
                    <option value="12" data-fee="$10,200.00">Full Page - 3 issues</option>
                    <option value="12" data-fee="$19,800.00">Full Page - 6 issues</option>
                    <option value="12" data-fee="$4,700.00">Back Cover - 1 issue</option>
                    <option value="12" data-fee="$13,500.00">Back Cover - 3 issues</option>
                    <option value="12" data-fee="$25,200.00">Back Cover - 6 issues</option>
                    <option value="12" data-fee="$6,000.00">Center Spread - 1 issue</option>
                    <option value="12" data-fee="$17,400.00">Center Spread - 3 issues</option>
                    <option value="12" data-fee="$33,000.00">Center Spread - 6 issues</option>
                </select>
            </div>

            <div class="col-sm-4 col-sm-offset-2">
                Fee<br /><span id="PrintAdvertisingFee" class="fee">$0.00</span>
            </div>

        </div>

        <div class="row">
            <h4>Banner Advertising</h4>
        </div>

        <div class="row">

            <div class="col-sm-6">
                Select advertising days<br />
                <select name="BannerAdvertising">
                    <option value="0" data-fee="$0.00">0 - $0.00</option>
                    <option value="90" data-fee="$2,000.00">90 - $2,000.00</option>
                    <option value="180" data-fee="$4,000.00">180 - $4,000.00</option>
                    <option value="270" data-fee="$5,999.99">270 - $5,999.99</option>
                    <option value="360" data-fee="$7,999.99">360 - $7,999.99</option>
                </select>
            </div>

            <div class="col-sm-4 col-sm-offset-2">
                Fee<br /><span id="BannerAdvertisingFee" class="fee">$0.00</span>
            </div>

        </div>

        <div class="row">
            <h4>Pre-Selected Resumes</h4>
        </div>

        <div class="row">

            <div class="col-sm-6">
                Select package<br />
                <select name="PreSelectedResumes">
                    <option value="false" data-fee="$0.00">Not Selected</option>
                    <option value="true" data-fee="$2,500.00">Pre-Selected Resumes</option>
                </select>
            </div>

            <div class="col-sm-4 col-sm-offset-2">
                Fee<br /><span id="PreSelectedResumesFee" class="fee">$0.00</span>
            </div>

        </div>

        <div class="row">
            <h4>Posting client's jobs at military base transition offices</h4>
        </div>

        <div class="row">

            <div class="col-sm-6">
                Select package<br />
                <select name="PostJobsAtMilitaryBaseTransitionOffices">
                    <option value="false" data-fee="$0.00">Not Selected</option>
                    <option value="true" data-fee="$500.00">Post your jobs at military base transition offices</option>
                </select>
            </div>

            <div class="col-sm-4 col-sm-offset-2">
                Fee<br /><span id="PostJobsAtMilitaryBaseTransitionOfficesFee" class="fee">$0.00</span>
            </div>

        </div>

        <div class="row">
            <h4>Job Fair</h4>
        </div>

        <div class="row">

            <div class="col-sm-6">
                Select Job Fair Package<br />
                <select name="JobFairPackage">
                    <option value="" data-fee="$0.00">Not Selected</option>
                    <option value="Patriot's Package" data-fee="$0.00">Patriot's Package</option>
                    <option value="Build-your-own Job Fair Package" data-fee="$0.00">Build-your-own Job Fair Package</option>
                </select>
            </div>

            <div class="col-sm-4 col-sm-offset-2">
                Fee<br /><span id="JobFairPackageFee" class="fee">$0.00</span>
            </div>

        </div>

        <div id="job-fairs-packages" class="row" style="display:none;">
            <br />
            <div class="row">
                Package Add Ons
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <input type="checkbox" name="30 Day Resume Access" data-fee="$395.00" /> 30 Day Resume Access<br />
                    <input type="checkbox" name="30 Day Unlimited Job Posting" data-fee="$200.00" /> 30 Day Unlimited Job Posting<br />
                    <input type="checkbox" name="Targeted Email Campaign" data-fee="$995.00" /> Targeted Email Campaign<br />
                    <input type="checkbox" name="1 Page Company Brief" data-fee="$350.00" /> 1 Page Company Brief<br />
                    <input type="checkbox" name="Matching Process" data-fee="$200.00" /> Matching Process<br />
                </div>

                <div class="col-sm-6">
                    <input type="checkbox" name="Civilian Job News - 1/8 Page Ad" data-fee="$600.00" /> Civilian Job News - 1/8 Page Ad<br />
                    <input type="checkbox" name="Civilian Job News - 1/4 Page Ad" data-fee="$800.00" /> Civilian Job News - 1/4 Page Ad<br />
                    <input type="checkbox" name="Civilian Job News - 1/2 Page Ad" data-fee="$1,500.00" /> Civilian Job News - 1/2 Page Ad<br />
                    <input type="checkbox" name="Civilian Job News - Full Page Color Ad" data-fee="$3,200.00" /> Civilian Job News - Full Page Color Ad<br />
                </div>
            </div>

        </div>

        <div id="job-fairs-list" class="row" style="display:none;">
            <br />
            <div class="row">
                Job Fairs
            </div>

            @foreach (var jobFair in Model)
            {
                <br>

                <div class="col-sm-12">
                    <input type="checkbox" data-job-fair-id="@(jobFair.ID)" class="job-fair" />
                    @jobFair.month/@jobFair.day/@jobFair.year: @jobFair.locationCity, @jobFair.locationState - @jobFair.locationName
                    / @jobFair.startTime @jobFair.startTimeAMPM - @jobFair.endTime @jobFair.endTimeAMPM
                </div>
            }

            <input type="hidden" name="JobFairIds" />

        </div>

        <div class="row">

            <br /><br />

            <div class="col-sm-12">
                <h4>Total Price: <span id="total-price">$0.00</span></h4>
                <input type="hidden" name="total" />
                <button id="btn-next" class="green-button" type="submit">Next</button>
                <div id="error" style="display:none; color:red;">Please select at least one product before proceeding.</div>
            </div>

        </div>
    }

</div>