﻿@model IEnumerable<CivilianJobs.Models.Jobs.Entities.Orders>

@{
    ViewBag.Title = "Orders Manager";
}

<div class="span12 pad-left pad-right admin">
   
    <h1>Order Manager</h1>

    <a href="/admin/ordersmanager/add">Add New</a><br /><br />

    <table class="table table-striped table-bordered">
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Username</th>
            <th>Active</th>
            <th>Total</th>
            <th>&nbsp;</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.CreateDate.ToString()</td>
                <td>@item.UserProfile.UserName</td>
                <td>@item.Active</td>
                <td>@item.Total.ToString("C2")</td>

                <td><a href="/admin/OrdersManager/edit/@item.ID">Edit</a></td>
            </tr>
        }
    </table>

</div> 
        