﻿@model List<CivilianJobs.Models.Events>
@using CivilianJobs.Models;
@using CivilianJobs.Helpers;
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if(Model != null)
{
    <h1>Daily Events</h1>
    <p>Scheduled events for @Model.FirstOrDefault().EventDate.ToString("M/d/yyyy")</p>
    foreach(Events ev in Model){
        <div>
            <h2>@ev.Heading</h2>
            <div>

                @if (ev.EventContent != null && ev.EventContent.Trim() != "")
                {
                    @ev.EventContent
                }
                else
                {
                    @ev.EventDesc
                }
            </div>
        </div>
    
    }
}