﻿@model CivilianJobs.Models.Events
@using CivilianJobs.Models;
@using CivilianJobs.Helpers;
@{
    ViewBag.Title = "Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(Model != null)
{
    <h1>@Model.Heading</h1>
    <h2>@Model.EventDate.ToString("M/d/yyyy")</h2>
    <div>
            
        @if (Model.EventContent != null && Model.EventContent.Trim() != "")
        {
            @Model.EventContent
        }
        else
        {
            @Model.EventDesc
        }
    </div>
}
 
    
