﻿#job-cat,
#job-cat-selected {
    padding-left: 0;
    padding-right: 0;
}

#job-cat p,
#job-cat-selected p {
    padding: 0 15px;
    cursor: pointer;
}

#job-cat p:hover,
#job-cat-selected p:hover {
    background: #aaa;
    color: #fff;
}

.p-c {
    padding: 0 15px;
}
