﻿@model  CivilianJobs.Models.Jobs.Entities.JobFairs
@section styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/StaticPage.css" />
}

@{
    ViewBag.Title = "Job Fairs";
}

<div class="static-banner">
    <h1 class="banner-title text-center">Job Fairs</h1>
</div>
<div class="container content">
    <div class="col-sm-12">
        <div class="col-sm-8">
            <h1 style="color:#399FDB">
                Job Fair Name
            </h1>
        </div>
        <div class="col-sm-4" style="margin-top:30px;">
            <a style="color:blue; text-decoration:underline; font-weight: bold;" href="~/HireVeterans/all-events"> << Back to Job Fairs </a>
        </div>
    </div>
    
    <div class="col-sm-12" style="font-size:16px">
        <hr style=" border: 1px solid #94FAFF; " />
    <div class="col-sm-12" style="color:black; font-weight:bold">
        Location
    </div>
    <div class="col-sm-12" style="color:darkgray">
        @Model.locationName
    </div>
    <div class="col-sm-12" style="color:black; font-weight:bold; margin-top: 40px;">
        DATE
    </div>
    <div class="col-sm-12" style="color:darkgray">
        @Model.dayOfWeek , @Model.day-@Model.month-@Model.year
    </div>
    <div class="col-sm-12" style="color:black; font-weight:bold; margin-top: 40px;">
        DETAILS
    </div>
    <div class="col-sm-12" style="color:darkgray">
        <div class="col-sm-6">
            <b class="Blue" style="margin-top:20px">Opportunities</b>
            <div class="col-sm-12"> @Model.opportunity2 </div>
            <div class="col-sm-12"> @Model.opportunity3 </div>
            <div class="col-sm-12"> @Model.opportunity4 </div>
            <div class="col-sm-12"> @Model.opportunity5 </div>
            <div class="col-sm-12"> @Model.opportunity6 </div>
            <div class="col-sm-12"> @Model.opportunity7 </div>
            <div class="col-sm-12"> @Model.opportunity8 </div>
            <div class="col-sm-12"> @Model.opportunity9 </div>
            <div class="col-sm-12"> @Model.opportunity10</div>
        </div>
       <div class="col-sm-6">
           
           <b class="Blue">Start time</b>
           <div class="col-sm-12"> @Model.startTime @Model.startTimeAMPM </div>
           <br />
           <b class="Blue">End time</b>
           <div class="col-sm-12"> @Model.endTime @Model.endTimeAMPM  </div>
           <br />
           <b class="Blue" style="margin-top:20px">Sponsored By</b>
           <div class="col-sm-12"> @Model.sponsoredBy </div>
       </div>
    </div>
    <div class="col-sm-12" style="margin-top: 40px;">
        <a class="btn btn-warning btn-primary" type="button" href="http://example.com"
           style="font-weight:bold;background-color: #FF9600; border-color: #FF9600;border-radius: 0px; width: 170px; height: 40px;">Register Today!</a>
    </div>
</div>
</div>