﻿@using CivilianJobs.Models;
@model List<FAQCategory>
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MetaDescription = "Los Angeles, California Business Attorney, FAQ Trademark / Servicemark - Law Offices of Peter C. Bronstein";
}

@section styles{
    <link rel="stylesheet" type="text/css" href="/Content/css/jqueryui/jquery-ui.ecmd.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
}

<div class="content container-fluid  width page-head page-tail rounded main-content">
    <div class="row-fluid content">
        <a id="TopOfPage"></a>
        <h1 class="page-title">Frequently Asked Questions</h1>

        <div class="span10 offset1 tablet-full">            
            @foreach (FAQCategory topics in Model)
            {
                <h3 class="FAQLink"><a href="#@topics.Name">@topics.Name</a></h3>
            }
            @foreach (FAQCategory item in Model) {
                <div class="line"></div>
                <a id="@item.Name"></a>
                <h2 class="faq-title caps">@item.Name</h2>
                IEnumerable<FAQ> faqs = item.FAQS.OrderBy(x => x.Order);
                foreach (FAQ question in faqs){
                    <p><a class="FAQQuestion" href="#@question.FAQID">@question.Question</a></p>
                }
                <br/>
                foreach (FAQ faq in faqs){
                    <p><a class="answer" id="@faq.FAQID">@faq.Question</a><br /> @Html.Raw(faq.Answer)</p><br />
                }
                <h3 class="FAQLink"><a class="FAQLink" href="#TopOfPage">Back To Top</a></h3>
            }
        </div>
    </div>
</div>