﻿@using CivilianJobs.Helpers;
@using CivilianJobs.Models.Jobs.Enums;

@model CivilianJobs.Models.Jobs.ViewModels.PostJob

@section styles{
    @Styles.Render("~/bundles/employers-styles")
}

@section scripts{
    @*@Scripts.Render("~/bundles/employers-scripts")*@
    <script src="~/Content/js/highcharts/highcharts.js"></script>
    <script src="~/Content/js/highcharts/exporting.js"></script>
    <script src="~/Content/js/highcharts/highcharts-more.js"></script>

<script type="text/javascript">
    $(function () {
        $('#web-sales-quota').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'JOB POSTING SALES VS QUOTA',
            },
            credits: {
                enabled: false
            },
            xAxis: {
                categories: ['J', 'F', 'M', 'A', 'M', 'J', 'J', 'A', 'S', 'O', 'N', 'D', ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: ''
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }
            },
            legend: {
                align: 'right',
                x: -30,
                verticalAlign: 'top',
                y: 25,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.x + '</b><br/>' +
                        this.series.name + ': ' + this.y + '<br/>' +
                        'Total: ' + this.point.stackTotal;
                }
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                        style: {
                            textShadow: '0 0 3px black'
                        }
                    }
                }
            },
            series: [{
                name: 'Quota',
                data: [2, 4, 4, 2, 5, 7, 4, 3, 3, 5, 6, 7]
            }, {
                name: 'Sold',
                data: [3, 7, 9, 4, 5, 9, 3, 6, 7, 8, 7, 7]
            }]
        });


        $('#revenue-by-ad-type').highcharts({
            chart: {
                type: 'bar'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'LARGEST ACCOUNTS'
            },
            xAxis: {
                categories: ['ABC CO', 'XYZ CO', 'DEF CO', 'LMN CO']
            },
            yAxis: {
                min: 0,
                title: {
                    text: ''
                }
            },
            legend: {
                reversed: true
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [ {
                name: 'Sold',
                data: [3, 4, 4, 2]
            }]
        });

        $('#ad-revenue-over-time').highcharts({
            chart: {
                type: 'line'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'POSTNGS REVENUE OVER TIME'
            },
            xAxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            },
            yAxis: {
                title: {
                    text: 'REVENUE'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                name: 'MTN',
                data: [7.0, 6.9, 9.5, 14.5, 18.4, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
            }, {
                name: 'Source 2',
                data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
            }]
        });


        $('#web-ads').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'MY WEB ADS AS A PERCENTAGE OF TOTAL',
            },
            credits: {
                enabled: false
            },
            xAxis: {
                categories: ['J', 'F', 'M', 'A', 'M', 'J', 'J', 'A', 'S', 'O', 'N', 'D', ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: ''
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                }
            },
            legend: {
                align: 'right',
                x: -30,
                verticalAlign: 'top',
                y: 25,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.x + '</b><br/>' +
                        this.series.name + ': ' + this.y + '<br/>' +
                        'Total: ' + this.point.stackTotal;
                }
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                        style: {
                            textShadow: '0 0 3px black'
                        }
                    }
                }
            },
            series: [{
                name: 'Sales',
                data: [2, 4, 4, 2, 5, 7, 4, 3, 3, 5, 6, 7]
            }]
        });


        $('#revenue-by-client').highcharts({

            chart: {
                type: 'bubble',
                zoomType: 'xy'
            },
            credits: {
                enabled: false
            },
            title: {
                text: 'REVENUE BY CLIENT'
            },

            series: [{
                data: [[97, 36, 79], [94, 74, 60], [68, 76, 58], [64, 87, 56], [68, 27, 73], [74, 99, 42], [7, 93, 87], [51, 69, 40], [38, 23, 33], [57, 86, 31]]
            }, {
                data: [[25, 10, 87], [2, 75, 59], [11, 54, 8], [86, 55, 93], [5, 3, 58], [90, 63, 44], [91, 33, 17], [97, 3, 56], [15, 67, 48], [54, 25, 81]]
            }, {
                data: [[47, 47, 21], [20, 12, 4], [6, 76, 91], [38, 30, 60], [57, 98, 64], [61, 17, 80], [83, 60, 13], [67, 78, 75], [64, 12, 10], [30, 77, 82]]
            }]
        });


    });





</script>
}

<div id="charts">
    <div class="static-banner">
        <h1 class="banner-title text-center">@ViewBag.Title</h1>
    </div>

    <div class="container content pad-head pad-tail">
        <div class="row border-top">
            <div class="col-sm-5">
                <div id="web-sales-quota" class="border-right"></div>
            </div>
            <div class="col-sm-5 ">
                <div id="revenue-by-ad-type" class="border-right"></div>
            </div>
            <div class="col-sm-2 text-center">
                <div class="title pad-tail">ALERTS</div>
                <h2 class="red-number pad-tail">4</h2>
                <div>90% July MTN</div>
                <div>2 Reps</div>
                <div>Atlanta Job fair</div>
                <div>Missed Deadlines</div>
            </div>
        </div>
        <br /><br />
        <div class="row pad-head pad-tail border-top">
            <div class="col-sm-10 border-right">
                <div id="ad-revenue-over-time"></div>
            </div>
            <div class="col-sm-2">

            </div>
        </div>


        <div class="row pad-head pad-tail border-top">
            <div class="col-sm-12 border-right">
                <div id="revenue-by-client" class="border-right"></div>
            </div>
        </div>

    </div>
</div>