﻿.course-image {
    width: 100%;
}

#course-list {
    list-style: inside none;
    margin: 0;
    padding: 0;
}

    #course-list li {
        margin: 0;
        padding: 0;
    }

        #course-list > li > a {
            font-size: 16px;
            display: block;
            padding: 4px;
        }

        #course-list > li.active > a {
            color: #fff;
            background: #527093;
        }

    #course-list > li > ul {
        margin: 0;
        padding: 0;
    }

        #course-list > li > ul > li > a {
            color: #666;
            padding: 4px 4px 4px 20px;
        }

        #course-list > li > ul > li.active > a {
            color: #666;
            padding: 4px 4px 4px 20px;
            background: transparent url() scroll no-repeat center left;
        }