/* import responsive stylesheet */
@import url("../css/queries.css")(max-width:1200px);

/* fonts */

    @font-face {
        font-family:'montserrat';
        src: url('/Content/fonts/Montserrat/montserrat-regular-webfont.eot');
        src: url('/Content/Fonts/Montserrat/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/Content/Fonts/Montserrat/montserrat-regular-webfont.woff2') format('woff2'), url('/Content/Fonts/Montserrat/montserrat-regular-webfont.woff') format('woff'), url('/Content/Fonts/Montserrat/montserrat-regular-webfont.ttf') format('truetype'), url('/Content/Fonts/Montserrat/montserrat-regular-webfont.svg#montserratregular') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'prox-reg';
        src: url('/Content/fonts/Proximanova/proximanova-regular-webfont.eot');
        src: url('/Content/fonts/Proximanova/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/Content/fonts/Proximanova/proximanova-regular-webfont.woff2') format('woff2'), url('/Content/fonts/Proximanova/proximanova-regular-webfont.woff') format('woff'), url('/Content/fonts/Proximanova/proximanova-regular-webfont.ttf') format('truetype'), url('/Content/fonts/Proximanova/proximanova-regular-webfont.svg#proximanovaregular') format('svg');
        font-weight: normal;
        font-style: normal;
    }

     @font-face {
        font-family: 'prox-light';
        src: url('/Content/fonts/Proximanova/proximanova-light-webfont.eot');
        src: url('/Content/fonts/Proximanova/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'), url('/Content/fonts/Proximanova/proximanova-light-webfont.woff2') format('woff2'), url('/Content/fonts/Proximanova/proximanova-light-webfont.woff') format('woff'), url('/Content/fonts/Proximanova/proximanova-light-webfont.ttf') format('truetype'), url('/Content/fonts/Proximanova/proximanova-light-webfont.svg#proximanovalight') format('svg');
        font-weight: normal;
        font-style: normal;
    }

/*

Darkest Blue: rgba(0, 36, 71, 1);
Dark Blue: #rgba(0,114,177,1)
Blue: rgba(0,161,255,1)
Light Blue: rgba( 96, 196, 255, 1)
Green: rgba(122,182,67,1)
Orange: rgba(255, 145, 0, 1)
Black: rgba(0,0,0,1);
Darkest Grey: rgba(51,51,51,1);
Dark Grey: rgba(77,77,77,1);
Grey: rgba(128,128,128,1);
Light Grey: rgba(134,134,134,1);
Background Grey: rgba(242,242,242,1);
White: rgba(255,255,255,1);

*/

hr {
  -moz-border-bottom-colors: rgba(0,161,255,1);
  -moz-border-left-colors: rgba(0,161,255,1);
  -moz-border-right-colors: rgba(0,161,255,1);
  -moz-border-top-colors: rgba(0,161,255,1);
  border-color: rgba(0,161,255,1) -moz-use-color -moz-use-text-color;
  border-image: none;
  border-right: 0 none;
  border-style: solid none none;
  border-width: 1px 0 0;
  margin-bottom: 40px;
  margin-top: 20px;
}

.blue-box {
  background: rgba(0,114,177,1);
  padding: 44px 0 !important;
}

.blue-box h2 {
  margin: 8px;
}


.btn-submit {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.banner-title {
  color: rgb(255, 255, 255);
  font-size:72px;
  position: relative;
  text-transform: capitalize;
  padding-top:160px;
}

.search-wrap input {
  border-radius: 0;
  margin:14px 0  0 -15px;
}

.search-wrap {
  padding: 16px 0;
  position: relative;
  top: -80px;
}

#home-banner {
    background: url("/Content/img/Skilled-Veterans-for-Hire.jpg") no-repeat 0 0 / cover;
    height:450px;
}

.static-banner {
    background: url("/Content/img/Hire-A-Vet .jpg") no-repeat 0 0 / cover;
    height:450px;
    text-align:center;
}

.sm-pad-bottom {
    padding: 0 0 16px;
}

.contact-title {
  font-size: 2vw;
  margin-top: -20px;
}

.contact-wrap p {
    margin: 0 0 0px;
}

#form-entry label {
    display: none;
}

#form-entry input, textarea, select {
  background: none repeat scroll 0 0 rgb(230, 230, 230);
  border: medium none;
  border-radius: 0;
  box-shadow: none;
  margin: 10px 0;
  height: 32px;
  padding:0 10px;
}

#fname {
  display: inline-block;
  float: left;
  width: 45%;
}

#lname {
  float: right;
  width: 45%;
}

#form-entry #email {
  float: left;
  width: 45%;
}

#phoneNumber {
  float: right;
  width: 45%;
}


#message {
  width:100%;
  height:200px;
}
.mainnavbar-container, .mainnavbar-container div  {
    padding-right:0px;
}
.mainnavbar{
    text-align:right;
    font-size:20px;
    text-align:right;
}

/*.mainnavbar li a {
    color:black;
}*/

/*.mainnavbar > li :hover {
    border: 1px solid rgba(0, 0, 0, 0);
    background-color:rgba(245, 243, 243, 0.00);
}
.mainnavbar  .dropdown{margin-top:-5px; background-color:white;}
.mainnavbar .dropdown:hover{margin-top:-5px; background-color:white !important;}
.mainnavbar  .dropdown-menu {margin-top:-5px;}
.mainnavbar > .dropdown li a:hover{
    color:white;
}*/

.mainnavbar  .dropdown{margin-top:-5px; }
.mainnavbar .dropdown:hover{margin-top:-5px; }
.mainnavbar  .dropdown-menu {margin-top:-5px;}
.mainnavbar > .dropdown li a:hover{
    color:white;
}


@media screen and (max-width: 991px){
    .columns{
        height: 200px;
        overflow:scroll;
    }
}

@media screen and (min-width: 992px){
    .columns{
        -moz-column-count:3; /* Firefox */
        -webkit-column-count:3; /* Safari and Chrome */
        column-count:3;
        width: 630px;
    }
}


.topbar li a {
    color: blue;
}