@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600,300italic,400italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
/*************/
body { overflow-x: hidden; }
html, body { height: 100%; font-family: 'Open Sans', sans-serif !important; color: #4d4d4d; font-size: 16px;font-weight:300; }
a, a:focus { outline: none; }

.main{padding-bottom:100px;}
.container { /*border-left: 1px dashed #000; border-right: 1px dashed #000;*/ }
.btn { border-radius: 0; transition: .35s ease color;    white-space: pre-line; }
.btn-orange { background: #fc8529; font-family: 'Oswald', sans-serif !important; text-transform: uppercase; font-size: 18px !important; color: #FFF; padding: 12px 15px !important; }
.btn-orange:hover { color: #FFF; }

.btn-green { background: #9acb3b; font-weight:600; text-transform: uppercase; font-size: 18px; color: #FFF; padding: 12px 15px; }
.btn-green:hover { color: #FFF; }

.btn-lg{ font-size: 30px; padding: 10px 40px;}

.text-purlpe{ color:#1a4e76; }
.text-lg{font-size:22px; font-weight:600;}
.text-contact{margin-top:100px; padding-bottom:30px;}

.container { max-width: 1300px; width: 100%; }
hr { -moz-border-bottom-colors: none; -moz-border-image: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #e9e9e9; -moz-use-text-color #FFFFFF; border-style: solid none; border-width: 1px 0; margin: 30px 0; }
border-style: solid none; border-width: 1px 0; margin: 30px 0; }
.margin-top-20 { margin-top: 20px; }
.margin-bottom-30 { margin-bottom: 30px; }
.margin-bottom-40 { margin-bottom: 40px; }
/**/
.header { padding: 20px 0; }
.shadow { background: url(/Content/img/shadow.png) bottom center no-repeat; background-size: 100%; height: 30px; margin-bottom: 20px; }
/**/
.sidebar-nav{margin-bottom:20px;}
.sidebar-nav .navbar { background: none; border: none; margin: 0;}
.sidebar-nav .navbar li { margin-bottom: 5px; }
.sidebar-nav .navbar li a { text-transform:none; background-color: #bababa; font-size: 22px; letter-spacing: 1px; color: #FFF !important; font-weight: 500; padding-left: 30px; position: relative; }
.sidebar-nav .navbar li a:hover, .sidebar-nav .navbar li a:focus { background: #4d4d4d; color: #FFF; }
.sidebar-nav .navbar li.active a { background: #4d4d4d; color: #FFF; }
.sidebar-nav .navbar li.active a:hover { background: #4d4d4d; color: #FFF; }
.sidebar-nav .navbar li.active a::before, .sidebar-nav .navbar li:hover a::before { content: ""; background: #0072ae; width: 25px; height: 50px; position: absolute; left: -25px; top: 0; }
.sidebar-nav .btn-link { display: inline-block; }
.sidebar-nav .button { margin-bottom: 20px; }
.sidebar-nav .link { margin-bottom: 10px; margin-left: 20px; text-decoration: none; }
.sidebar-nav .link a { color: #1a4e76; font-size: 20px; }

.sidebar-nav .navbar-toggle{border:1px solid #FFF;border-radius:0; background:#FFF;}
.sidebar-nav .navbar-header{background:#9bca3c; color:#FFF;}
.sidebar-nav .navbar-header .navbar-brand{color:#FFF;}
/**/
.search-field { margin: 20px 0; }
.search-field input[type="text"] { border: #bababa 1px solid; border-radius: 0; box-shadow: none; font-size: 20px; height: 43px; padding: 20px 20px; line-height: 43px; width: 97%; }
.search-field input[type="submit"], .search-field button { border: 0px solid; border-radius: 0; background: #97cd39 !important; box-shadow: none; font-size: 20px; line-height: 43px; height: 43px; padding: 0; width: 40px; color: #fff; }

.title-main{font-size:30px; text-transform:uppercase; color:#1a4e76; font-weight:600;  margin-top:0;}
.title-section{font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    text-align: center;
    background: #1a4e76;
    padding: 10px;}


.content .row .col-md-6 p {text-align: justify;}

/**/
.cart-table { }
.cart-table th { text-transform: uppercase; font-weight: 600; border-bottom: 0 !important; font-size: 22px; vertical-align: top !important; }
.cart-table th p { font-size: 14px; }
.cart-table td { border: 0 !important; padding: 15px 0 !important; }
.cart-table .form-control { border: 1px solid #bbb; box-shadow: none; border-radius: 0; font-weight: 600; color: #999; font-size: 16px; height: auto; max-width: 80px; margin: auto; text-align: center; padding: 10px; }
.cart-table h4 { color: #000; font-size: 16px; }
.cart-table td.border-bottom { border-bottom: 1px solid #CCC !important; }
.cart-table .orange { color: #97cd39 !important; font-size: 16px; padding-top: 5px; }
.cart-table .btn-default { border: 1px solid #bbb; box-shadow: none; border-radius: 0; font-weight: 600; color: #999; font-size: 16px; height: auto; margin: auto; text-align: center; padding: 10px; display: block; width: 100%; max-width: 80px; }
.cart-table .btn-default:hover { background: #fc8529 !important; border-color: #fc8529; color: #FFF; }
.cart-table .btn-default:active { background: #fc8529 !important; border-color: #fc8529; color: #FFF; }


.total{    background: #f1f1f1;
    padding: 30px;
    text-align: center; margin-top:80px;}
	.total .price{font-size:24px;color:#000; text-transform:uppercase; margin-right:30px;}
	
	.total .btn{padding:10px 15px !important; font-family:inherit !important; font-weight:600 !important; margin-left:10px !important;margin-right:10px !important;}
