@media screen and (max-width:1024px) {
}
 @media (min-width: 768px) {
	
.sidebar-nav .navbar .navbar-collapse { padding: 0; max-height: none; }
.sidebar-nav .navbar ul { float: none; }
.sidebar-nav .navbar ul:not { display: block; }
.sidebar-nav .navbar li { float: none; display: block; }
.sidebar-nav .navbar li a {  }
}
 @media screen and (max-width:768px) {
	  .sidebar-nav{background:#f9f9f9; padding:15px; margin-bottom:20px;}
}
 @media screen and (max-width:767px) {
}
 @media screen and (max-width:640px) {
}
 @media screen and (max-width:480px) {
}
