﻿@{
    ViewBag.Title = "CMS Dashboard";
}

<div class="span12 pad-left pad-right admin">
    <h2>@ViewBag.Title</h2>
    <div class="row-fluid">
        <div class="span3">
            <h3>Pages</h3>
            <p class="lead">
                Pages are the backbone of your site. They allow you to add and update the static content on your site as well as customize the SEO metadata.
            </p>
        </div>
        <div class="span3">
            <h3>Blocks</h3>
            <p class="lead">
                Blocks allow you to use the same content on multiple pages without having to copy/paste from page to page.
            </p>
        </div>
        <div class="span3">
            <h3>Navigation</h3>
            <p class="lead">
                Navbars are the collections of links that help your users navigate around the site. You can have multiple primary and secondary navbars.
            </p>
        </div>
        <div class="span3">
            <h3>Forms</h3>
            <p class="lead">
                Forms allow you to collect information from your visitors. You can specify an email notification when a form is completed, as well as review previous submissions online.
            </p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
            @Html.ActionLink("Edit Your Pages", "Index", "PageManager", new { Area = "admin" }, new { @class = "btn btn-primary btn-large" })
        </div>
        <div class="span3">
            @Html.ActionLink("Edit Your Blocks", "Index", "BlockManager", new { Area = "admin" }, new { @class = "btn btn-info btn-large" })
        </div>
        <div class="span3">
            @Html.ActionLink("Edit Your Navbars", "Index", "NavManager", new { Area = "admin" }, new { @class = "btn btn-success btn-large" })
        </div>
        <div class="span3">
            @Html.ActionLink("Edit Your Forms", "Index", "FormManager", new { Area = "admin" }, new { @class = "btn btn-warning btn-large" })
        </div>
    </div>
</div>
