﻿@{
    ViewBag.Title = "Site Dashboard";
}

<div class="span12 pad-left pad-right admin">
    
    <h2>@ViewBag.Title</h2>

    <div class="row-fluid">
        <h3 class="col-lg-12">Metrics</h3>
    </div>

    <div class="row-fluid">

        <div class="col-lg-3">
            <h4>Employers: <strong>@ViewBag.Employers</strong></h4>
        </div>

        <div class="col-lg-3">
            <h4>Job Seekers: <strong>@ViewBag.JobSeekers</strong></h4>
        </div>

        <div class="col-lg-3">
            <h4>Job Postings: <strong>@ViewBag.JobPostings</strong></h4>
        </div>

        <div class="col-lg-3">
            <h4>Job Applications: <strong>@ViewBag.JobApplications</strong></h4>
        </div>

    </div>
    
    <br /><br />

    <div class="row-fluid">
        <div class="col-lg-5">
            <h3>CMS</h3>
            <p class="lead">
                Your Content Management System will help you edit the content, navigation, and forms on your site.
            </p>
        </div>
        <div class="col-lg-5 offset2">
            <h3>Settings</h3>
            <p class="lead">
                Manage global site settings from your Settings page. Use with extreme caution.
            </p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-lg-5">
            @Html.ActionLink("CMS", "CMS", null, new { @class = "btn btn-primary btn-large" })
        </div>
        <div class="col-lg-5 offset2">
            @Html.ActionLink("Settings", "Index", "SettingManager", new { area = "admin" }, new { @class = "btn btn-danger btn-large" })
        </div>
    </div>

</div>