﻿@model IEnumerable<CivilianJobs.Models.Jobs.Entities.JobFair>

@section styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/StaticPage.css" />
}

@{
    ViewBag.Title = "Job Fairs";
}

<div class="static-banner">
    <h1 class="banner-title text-center">Job Fairs</h1>
</div>

<div class="container content">

    <h1 class="Dark-Blue text-left">Job Fairs</h1>
    <hr>

    <div class="row">
        <div class="col-sm-12">
            <h3>CivilianJobs.com Job Fairs are the best way for employers to meet motivated and proven military-experienced job seekers.</h3>
            <p class="p-b Grey">Unlike other job fair events, we offer employers a unique BestFit™ Profile pre-matching process that ensures a company’s representatives will meet the attendees whose backgrounds offer the best fit for their positions.</p>
            <p class="p-b Grey">Each job fair package includes a complimentary 8' x 10' job fair booth with table and chairs.</p>
            <p class="p-b Grey">To facilitate this effective pre-matching process, we strongly encourage all attendees to pre-register here:</p>
            <hr>
            <h5>JOB FAIR REGISTRATION</h5>
            <div class="row">
                <div class="col-sm-10">
                    <form novalidate="novalidate">
                        <select id="job-fair-select" style="width: 100%; border: none; padding: 5px;" class="grey-bg valid">
                            @foreach (var jobFair in Model)
                            {
                                <option value="@jobFair.ID">@jobFair.Location</option>
                            }
                        </select>
                    </form>
                </div>
                <div class="col-sm-2"><input value="Register" class="bump-down green-button" type="submit" id="jobseeker-job-fair-register-btn"></div>
            </div>
            <hr>
            <h5>LATEST JOB FAIR SCHEDULE</h5>
            <table id="mil-news-table">
                <tbody>
                    <tr style="background-color: white; cursor: default;"><th class="Blue">DATE</th><th class="Blue">LOCATION</th><th class="Blue">DOCUMENTS</th></tr>
                    @foreach (var jobFair in Model)
                    {
                        <tr>
                            <td><p class="p-c">@jobFair.Date.ToShortDateString()</p></td>
                            <td><p class="p-c">@jobFair.Location</p></td>
                            <td><a href="@Url.Content("~/content/upload/media/" + jobFair.Document)" target="_blank">Flyer</a></td>
                        </tr>
                    }
            </table>
            <br><br>
            @*<div class="row">
                <div class="col-sm-12"><img src="http://placehold.it/750X200" class="img-responsive"></div>
            </div>*@
        </div>
    </div>

</div>