﻿@model IEnumerable<CivilianJobs.Models.Jobs.Entities.JobFair>

@section styles{
    <link rel="stylesheet" type="text/css" href="~/Content/css/StaticPage.css" />
}

@{
    ViewBag.Title = "Job Fair Registration";
}

<div class="static-banner">
    <h1 class="banner-title text-center">Job Fairs</h1>
</div>

<div class="container content">

    <h1 class="Dark-Blue text-left">Job Fairs</h1>

    <hr>

    <div class="row">
        <div class="col-sm-12">

            <p class="p-c">Are you currently serving or have you ever served in the U.S. Military?</p>
           
            <input value="Yes" class="bump-down green-button" type="submit" id="jobfair-registration-yes-btn" />
            <input value="No" class="bump-down green-button" type="submit" id="jobfair-registration-no-btn" style="margin-left:15px;" />
          
        </div>
                 
    </div>

</div>