﻿@using CivilianJobs.Helpers
@model IEnumerable<CivilianJobs.Models.Jobs.Entities.PressRelease>

@{
    ViewBag.AccountType = "Job Seeker";
}

@section styles{
    @Styles.Render("~/bundles/employers-styles")
}

@section scripts{
    @Scripts.Render("~/bundles/employers-scripts")
}

<div class="static-banner">
    <h1 class="banner-title text-center">Press Release</h1>
</div>

@{Html.RenderPartial("_BannerSearch");}
<br /><br />
<div class="container content">
<h3>Press Release</h3>

 @foreach (var article in Model) {
        <div class="row">
            <div class="col-sm-10">
                <h3 class="date">@article.Date - @article.Title</h3>
                <h4 class="info">@article.TeaserText</h4>
                <p>@article.Content</p>
            </div>
        </div>

}
<br />
</div>