﻿@model CivilianJobs.Models.JobSeekersDetail

@{
    Layout = null;
}
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />

<style>
    .pdf-container{
        padding:0 10%;
    }
    .info-heading {
        color: black;
        font-weight: bold;
        font-size: 24px;
    }

    .item-name {
        font-weight: bold;
        font-size: 20px;
    }

    .item-value {
        font-weight: normal;
        font-size: 20px;
        padding-left:10%;
    }

    .field-area {
        padding: 5px;
    }
    /*.sub-field{
        width:100%;
    }*/
    .row {
        margin: 0;
    }
    .profile-field{
        border-bottom: 1px solid black;
        margin-left:1.5%;
    }
</style>

<body>
    <div class="pdf-container">
        <div class="profile-field row">
            <div class="field-area col-md-4">

                <div class="col-md-12 info-heading">
                    @Model._userProfile.FirstName @Model._userProfile.LastName
                </div>
                <div class="col-md-12 item-value">
                    @Model._userProfile.City @Model._userProfile.Country
                </div>
                <div class="col-md-12 item-value">
                    @Model._userProfile.City, @Model._userProfile.Zip
                </div>
                <div class="row">
                    <div class="col-md-6 item-name">
                        Primary:
                    </div>
                    <div class="col-md-6 item-value">
                        @Model._userProfile.PrimaryPhone
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 item-name">
                        Alternate:
                    </div>
                    <div class="col-md-6 item-value">
                        @Model._userProfile.AlternatePhone
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 item-name">
                        OverSeas:
                    </div>
                    <div class="col-md-6 item-value">
                        @Model._userProfile.OCONUSphone
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 item-value">
                        @Model._userProfile.Email
                    </div>
                </div>
                </div>
        </div>
        @*Left column*@
        <div class="col-md-6">
           
            <div class="field-area col-md-12">
                <div class="row">
                    <div class="col-md-6 item-name">
                        Availability Date:
                    </div>
                    <div class="col-md-6 item-value">
                        @Html.DisplayTextFor(x => x.AvailDate)
                        @*@Model.AvailDate*@
                    </div>
                    </div>
                <div class="row">
                    <div class="col-md-6 item-name">
                        Military Relocation:
                    </div>
                    <div class="col-md-6 item-value">
                        @ViewBag.MilitaryRelocation
                        @*@Model.MilitaryRelocation*@
                    </div>
                    </div>
                <div class="row">
                    <div class="col-md-6 item-name">
                        Travel:
                    </div>
                    <div class="col-md-6 item-value">
                        @Model.Travel
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 item-name">
                        Shift Work:
                    </div>
                    <div class="col-md-6 item-value">
                        @Model.ShiftWork
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 item-name">
                        Security Clearance:
                    </div>
                    <div class="col-md-6 item-value">
                        @ViewBag.SecurityClearence
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 item-name">
                        Instructor Duty:
                    </div>
                    <div class="col-md-6 item-value">
                        @Model.InstructorDuty
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 item-name">
                        Criminal Record:
                    </div>
                    <div class="col-md-6 item-value">
                        @Model.ConvictedFelory
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6 item-name">
                        Foreign Language:
                    </div>
                    <div class="col-md-6 item-value">
                        @ViewBag.Language
                    </div>
                </div>
            <div class="field-area col-md-12">
                <div class="col-md-12 info-heading">
                    Education
                </div>
                <div class="col-md-12 item-value">
                    <div class="row">

                    
                    <div class="col-md-6 item-name">
                        High School:
                    </div>
                    <div class="col-md-6 item-value">
                       @ViewBag.HighSchool
                    </div>
                        </div>
                    <div class="row">
                        <div class="col-md-6 item-name">
                            College:
                        </div>
                        <div class="col-md-6 item-value">
                            @ViewBag.UnderGradDeg
                        </div>
                        </div>
                    <div class="row">
                        <div class="col-md-6 item-name">
                            Grad School:
                        </div>
                        <div class="col-md-6 item-value">
                            @ViewBag.GradDeg
                        </div>
                        </div>
                    </div>
               
            </div>
            <div class="field-area col-md-12">
                <div class="row">
                    <div class="col-md-6 item-name">
                        Experience:
                    </div>
                    <div class="col-md-6 item-value">
                        @Model.ExperienceWorkHistory
                    </div>
                    </div>
                </div>
                </div>
        </div>
        @*Right column*@
        <div class="col-md-6">
            <div class="field-area col-md-12">
                <div class="row">
                    <div class="col-md-12 info-heading">
                        Military Career Information
                    </div>
                    <div class="col-md-6 item-value">
                        @Model.MilitaryRelocation / Rank: @ViewBag.Rank
                    </div>
                    </div>
                </div>
            <div class="field-area col-md-12">
                <div class="row">
                    <div class="col-md-12 info-heading">
                        Military Speciality
                    </div>
                    <div class="col-md-6 item-value">
                        @Model.AvailableSpecialities
                    </div>
                    </div>
                </div>
            <div class="field-area col-md-12">
                <div class="row">
                    <div class="col-md-12 info-heading">
                        Military Awards/Recognitions
                    </div>
                    <div class="col-md-6 item-value">
                        @*@foreach (var items in Model.MilitaryAwards)
                {
                    <p>@items</p>
                }*@
                    </div>
                    </div>
                </div>
            <div class="field-area col-md-12">
                <div class="row">
                    <div class="col-md-12 info-heading">
                        Top City Preferences
                    </div>
                    <div class="col-md-6 item-value">
                        Still To be entered
                    </div>
                    </div>
                </div>

        </div>
    </div>

</body>

