﻿@using CivilianJobs.Helpers
@using CivilianJobs.Models;


@section styles{
    @Styles.Render("~/bundles/employers-styles")
}
<script src="~/Content/js/jquery-1.11.3.min.js"></script>
<div class="static-banner">
    <div class="container text-wrap">
        <h1 class="White banner-title">Job Seekers </h1>
    </div>
</div>

<div class="container" style="margin-top: 35px;">
    <div class="col-sm-12">
        <h3 class="Blue">You can send a referral to up to 5 people</h3>
    </div>
    <div class="col-sm-12" style="margin-top: 20px; margin-bottom: 35px;">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10" id="boxex">
                <div class="col-sm-12" style="margin-bottom:10px">
                    <div class="col-sm-3 text-right" style="margin-top:5px">Email Address</div>
                    <div class="col-sm-9"><input type="text" class=" form-control" id="email1" /></div>
                </div>
                <div class="col-sm-12" style="margin-bottom:10px">
                    <div class="col-sm-3 text-right" style="margin-top:5px">Email Address</div>
                    <div class="col-sm-9"><input type="text" class=" form-control" id="email2" /></div>
                </div>
                <div class="col-sm-12" style="margin-bottom:10px">
                    <div class="col-sm-3 text-right" style="margin-top:5px">Email Address</div>
                    <div class="col-sm-9"><input type="text" class=" form-control" id="email3" /></div>
                </div>
                <div class="col-sm-12" style="margin-bottom:10px">
                    <div class="col-sm-3 text-right" style="margin-top:5px">Email Address</div>
                    <div class="col-sm-9"><input type="text" class=" form-control" id="email4" /></div>
                </div>
                <div class="col-sm-12" style="margin-bottom:10px">
                    <div class="col-sm-3 text-right" style="margin-top:5px">Email Address</div>
                    <div class="col-sm-9"><input type="text" class=" form-control" id="email5" /></div>
                </div>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-12" style="margin-top:5px">
            <div class="col-sm-12" id="errorMessage"></div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <input type="button" class="green-button sendmail center-block" id="sendEmails" value="Send" />
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    </div>
<script>

    $("#sendEmails").on("click", function () {
        if (window.sented && window.sented === true) {
            window.sented = false;
            location.href = "../jobseeker/my-account"
        }
        var temp = [];
        if ($('#email1').val() != "") { temp.push({ receiver: $('#email1').val(), sender: 0 }); }
        if ($('#email2').val() != "") { temp.push({ receiver: $('#email2').val(), sender: 0 }); }
        if ($('#email3').val() != "") { temp.push({ receiver: $('#email3').val(), sender: 0 }); }
        if ($('#email4').val() != "") { temp.push({ receiver: $('#email4').val(), sender: 0 }); }
        if ($('#email5').val() != "") { temp.push({ receiver: $('#email5').val(), sender: 0 }); }
        
        if (temp.length == 0) {
            $("#errorMessage").html('<h5 class="Red"> You must put at least one valid email address in</h5>');
            return;
        }
        $.each(temp, function (i, item) {
            if(!isValidEmailAddress(item.receiver))
            {
                $("#errorMessage").html('<h5 class="Red">One or more e-mail addresses are not valid, please check.</h5>');
                return;
            }
        });

        $.ajax({
            type: 'POST',
            url: '../jobseeker/invitefriends',
            data: JSON.stringify({ data: temp }),
            contentType: 'application/json',
            success: function (e) {
                $("#boxex").html('<div class="col-sm-12"><h5 class="Red">Your referrals have been sent. Thank You!</h5></div>');
                $("#sendEmails").attr('value', 'Continue');
                window.sented = true;
            },
            error: function (e) {
                $("#errorMessage").html('<h5 class="Red"> Please, try a few later. </h5>');
            }
        });
    });

    function isValidEmailAddress(emailAddress) {
        var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
        return pattern.test(emailAddress);
    };
</script>