﻿@using CivilianJobs.Helpers
@model IEnumerable<CivilianJobs.Models.Jobs.Entities.TransitionNewsArticle>

@{
    ViewBag.AccountType = "Job Seeker";
}

@section styles{
    @Styles.Render("~/bundles/employers-styles")
}

@section scripts{
    @Scripts.Render("~/bundles/employers-scripts")
}

<div class="static-banner">
    <h1 class="banner-title text-center">Transition News</h1>
</div>

@{Html.RenderPartial("_BannerSearch");}

<div class="container content">
    <h1 class="Blue">Military Transition News</h1>
    <hr class="Orange" />
<div class="col-sm-3">
    
    <ul class="Blue" style="font-size:14px">
        <li  style="list-style:none" ><a href="../page/transition-advice" style="text-decoration:none;">Transition Advice</a></li>
        <li  style="list-style:none; font-weight:bold" ><a href="../page/transition-news" style="text-decoration:none;">Transition News</a></li>
        <li  style="list-style:none" ><a href="../page/home-and-business-ownership" style="text-decoration:none;">Home & Business Ownership</a></li>
        <li  style="list-style:none" ><a href="../page/gi-bill-information" style="text-decoration:none;">GI Bill Information</a></li>
        <li  style="list-style:none" ><a href="../page/transition-office" style="text-decoration:none;">Transition Office</a></li>
    </ul>
    <br />
        @{
            var url = "Transition News, vetical Ad";
            var dbx = new CivilianJobs.Models.CivilianJobsContext();
            List<CivilianJobs.Models.Ad> ads = dbx.Ads.Where(x => (x.PublishFor == null || x.PublishFor == User.Identity.Name) && ((x.PublishPage == url) || (url != "url" && x.PublishPage.IndexOf(url) != -1))).ToList();
            ads = ads.Where(x => x.PublishStartDate.AddDays(x.LiveDuration) > DateTime.Now).ToList();
            foreach (var ad in ads)
            {
                <div class="col-sm-12"  style="padding-left:5px; padding-right:0px">
                    <a title="@ad.Title"
                       href="@ad.Hyperlink"
                       target="_blank"
                       class="text-center">
                        <img style="width: 200px;"
                             src="@ad.ImageUrl"
                             class="img-responsive">
                    </a>
                </div>
                                        <br />
            }
        }

</div>
<div class="col-sm-9">
    
    <img src="~/Content/img/news/news1.png" style="float:left; margin-right:10px" /><p class="p-b">
        CivilianJobs.com produces the worldwide military base newspaper Military Transition News. Published since 2005, Military Transition News is a bi-monthly multi-media publication (print / e-mail / web) featuring practical information for military job seekers including resume and interviewing tips, transition planning and strategy recommendations, company profiles and advice from transition experts. <br /><br /> Pickup the latest Print Edition on your base or review the print online version <a href="#">here</a>. See the latest E-Edition web version <a href="#">here</a> or view the most recent articles below.
    </p>


            <div class="row">
                <div class="col-sm-12" style="padding-left:0px;padding-right:0px">
                    <div class="orange-bg mil-news-home">
                        <div class="col-sm-12 margin-top">
                            <div class="col-sm-8">
                                <h2 style="color:white !important; font-weight:bold">Military Transition News</h2>
                            </div>
                            <div class="col-sm-4 text-right" style="margin-top: 28px;">
                                <a class="White" href="~/JobSeeker/transition-news" style="font-weight:bold">VIEW ARCHIVES >></a>
                            </div>
                        </div>
                        <br />
                        <div id="mil-news-overflow" class="col-sm- 12" style="padding:10px;background-color:white">
                            <div class="col-sm-12 White">
                                <div class="White">
                                    @{
                                        CivilianJobs.Models.CivilianJobsContext ctx = new CivilianJobs.Models.CivilianJobsContext();
                                        var TransitionNewsArticles = ctx.TransitionNewsArticles.ToList().Take(10);

                                        foreach (var article in TransitionNewsArticles)
                                        {
                                            <div class="col-sm-2">
                                                <img src="@article.Img" style="width: 100px; height: auto;" />
                                            </div>
                                            <div class="col-sm-10">
                                                <div class="news-date">@article.Date.ToString("dd/MM/yyyy") - @article.Title</div>
                                                <div class="news-info">@article.TeaserText    <a style="color:#0072B8; font-weight:bold" href="/jobseeker/article/@article.ID">Read More &raquo;</a></div>

                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    <br />
</div>
</div>