﻿@model CivilianJobs.Models.NavBar

@{
    ViewBag.Title = "Edit " + Model.Name;
}

<div class="span12 pad-left pad-right admin">

    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.NavBarID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <p>
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
        </p>
    }

</div>

@section Scripts {
    
}
